<form name="form" novalidate>
    <ion-view>
        <ion-nav-title>
            <h1 class="title">비밀번호 재설정</h1>
        </ion-nav-title>

        <ion-nav-buttons side="right">
            <!--<button class="button button-light" ng-click="next(user)" >다음</button>-->
            <button class="button button-light" ng-click="next(user)" ng-show="form.$valid">다음</button>
        </ion-nav-buttons>

        <ion-content scroll="false">
            <div class="msg-block" ng-show="form.$error">
                <span class="msg-error block" ng-show="form.email.$error.email">
                    이메일을 확인해주세요.
                </span>
            </div>

            <div class="row">
                <div class="col">
                    <div class="list">
                        <label class="item item-input">
                            <input type="email"
                                   name="email"
                                   placeholder="email을 입력하세요"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                   ng-model="user.email"
                                   ng-required="true" >
                        </label>
                    </div>
                    <div>
                        비밀번호를 잊으셨다면 비밀번호 재설정 메일을 받아보세요.
                    </div>
                </div>
            </div>

        </ion-content>

    </ion-view>
</form>