<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar class="nav-title-slide-ios7">
            <!--<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>-->
            <ion-nav-back-button class="button-clear" on-tap="clearDoubleFiredEvent()" ng-click="clearDoubleFiredEvent()" on-touch="goBack()"><i class="icon icon-linkat-back"></i></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" width="242" is-enabled="isSideMenuEnabled()">

        <ion-content class="left-menu" scroll="false">
            <div class="user-profile">
                <div class="item-avatar">
                    <img nav-clear menu-close class="user-img" ng-src="{{leftmenu.user.profileMedium}}" on-touch="leftmenu.mypage()"/>
                    <a nav-clear menu-close class="nickname" ng-bind="leftmenu.user.nickname" on-touch="leftmenu.mypage()"></a>
                </div>
            </div>

            <div class="list">
                <div class="item hot" nav-clear menu-close on-touch="leftmenu.newsfeed(NEWSFEED.HOT)">
                    <!--<a >HOT</a>-->
                    HOT
                </div>
                <div class="item new" nav-clear menu-close on-touch="leftmenu.newsfeed(NEWSFEED.NEW)">
                    NEW
                </div>

                <div class="item clothes" nav-clear menu-close on-touch="leftmenu.category(CATEGORY.CLOTHES)">
                    의류
                </div>
                <div class="item shoes" nav-clear menu-close on-touch="leftmenu.category(CATEGORY.SHOES)">
                    신발
                </div>
                <div class="item etcs" nav-clear menu-close on-touch="leftmenu.category(CATEGORY.ETCS)">
                    잡화
                </div>
                <div class="item settings" nav-clear menu-close on-touch="leftmenu.settings()">
                    <!--<a menu-close ui-sref="app.settings">설정</a>-->
                    설정
                </div>
            </div>

        </ion-content>
    </ion-side-menu>

</ion-side-menus>