<form name="form" novalidate>
    <ion-view>
        <ion-nav-title>
            <span class="title">추가정보 입력</span>
        </ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="button nav-button finish" on-touch="signUp(user)" ng-show="form.$valid">완료</button>
        </ion-nav-buttons>

        <ion-content class="register-info" scroll="false">
            <!--<div class="msg-block" ng-show="form.$error">-->
                <!--&lt;!&ndash;닉네임 에러&ndash;&gt;-->
                <!--<span class="msg-error block" ng-show="form.nickname.$error.required">-->
                    <!--닉네임을 입력해주세요.-->
                <!--</span>-->
                <!--<span class="msg-error block" ng-show="form.nickname.$error.minlength || form.nickname.$error.maxlength || form.nickname.$error.pattern">-->
                    <!--2~16자 영문자, 한글, 숫자만 사용가능합니다.-->
                <!--</span>-->
                <!--&lt;!&ndash;/닉네임 에러&ndash;&gt;-->
                <!--&lt;!&ndash;URL 에러&ndash;&gt;-->
                <!--<span class="msg-error block" ng-show="form.userUrl.$error.required">-->
                    <!--URL을 입력해주세요.-->
                <!--</span>-->
                <!--<span class="msg-error block" ng-show="form.userUrl.$error.minlength || form.userUrl.$error.maxlength || form.userUrl.$error.pattern">-->
                    <!--2~16자 영문자, 숫자만 사용가능합니다.-->
                <!--</span>-->

                <!--<span class="msg-error block" ng-show="form.userUrl.$error.ngRemoteValidate">-->
                    <!--사용중인 URL입니다.-->
                <!--</span>-->
                <!--&lt;!&ndash;/URL 에러&ndash;&gt;-->
                <!--&lt;!&ndash;생일 에러&ndash;&gt;-->
                <!--<span class="msg-error block" ng-show="form.birth.$error.required">-->
                    <!--생일을 입력해주세요.-->
                <!--</span>-->
                <!--&lt;!&ndash;/생일 에러&ndash;&gt;-->
                <!--&lt;!&ndash;성별 에러&ndash;&gt;-->
                <!--<span class="msg-error block" ng-show="form.gender.$error.required">-->
                    <!--성별을 선택해주세요.-->
                <!--</span>-->
                <!--&lt;!&ndash;/성별 에러&ndash;&gt;-->
            <!--</div>-->

            <div class="list">
                <div class="indicator">
                    <span> 좋아요! 이제 추가정보를 몇 가지만 더 입력해주세요!</span>
                </div>
                <div class="item">
                    <div class="row row-center">
                        <div class="col nickname">
                            <input type="text"
                                   name="nickname"
                                   placeholder="닉네임을 입력해주세요"
                                   ng-model="user.nickname"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                   ng-required="true"
                                   ng-minlength="2"
                                   ng-maxlength="10"
                                   ng-pattern="/^[가-힣a-zA-Z0-9]+$/i">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row row-center url">
                        <div class="label">
                            <span>http://www.linkat.co.kr/</span>
                        </div>
                        <div class="url-input">
                            <input type="text"
                                   name="userUrl"
                                   placeholder="URL을 입력해주세요"
                                   ng-model="user.userUrl"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                   ng-remote-method="POST"
                                   ng-remote-validate="{{apiURL}}/user/userUrlDuplicationCheck"
                                   ng-required="true"
                                   ng-minlength="2"
                                   ng-maxlength="10"
                                   ng-pattern="/^[a-zA-Z0-9]+$/i">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row row-center">
                        <div class="col birth">
                            <input type="text"
                                   name="birth"
                                   placeholder="생년월일을 입력해주세요"
                                   on-touch="showDatePicker()"
                                   ng-model="user.birth"
                                   ng-required="true"
                                   ng-readonly="true">
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="row row-center gender">
                        <div class="col label">
                            <span>성별을 선택해주세요</span>
                        </div>
                        <div class="col text-radio-group">
                            <div>
                                <input type="radio"
                                       id="gender1"
                                       name="gender"
                                       value="1"
                                       ng-model="user.gender"
                                       ng-required="true">
                                <label for="gender1">남자</label>

                                <input type="radio"
                                       id="gender2"
                                       name="gender"
                                       value="2"
                                       ng-model="user.gender"
                                       ng-required="true">
                                <label for="gender2">여자</label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="agreement">
                <p>회원 가입시 적용되는
                <a ui-sref="app.settings-agreement">이용약관</a>
                과
                <a ui-sref="app.settings-privacy">개인정보취급방침</a>
                    을 확인하세요</p>
            </div>

            <!-- error toast -->
            <!--<div class="error" ng-show="form.nickname.$error.required">닉네임을 입력해주세요.</div>-->
            <div ng-class="{'error-toast' : form.nickname.$error.minlength || form.nickname.$error.maxlength || form.nickname.$error.pattern,
            'noerror' : !form.nickname.$error.minlength && !form.nickname.$error.maxlength && !form.nickname.$error.pattern}">닉네임은 2~16자 영문자, 한글, 숫자만 사용가능합니다.</div>
            <!--<div class='error' ng-show="form.userUrl.$error.required">URL을 입력해주세요.</div>-->
            <div ng-class="{'error-toast' : form.userUrl.$error.minlength || form.userUrl.$error.maxlength || form.userUrl.$error.pattern,
            'noerror' : !form.userUrl.$error.minlength && !form.userUrl.$error.maxlength && !form.userUrl.$error.pattern}">URL은 2~16자 영문자, 숫자만 사용가능합니다.</div>
            <div ng-class="{'error-toast' : form.userUrl.$error.ngRemoteValidate, 'noerror' : !form.userUrl.$error.ngRemoteValidate}">사용중인 URL입니다.</div>
            <!--<div class='error' ng-show="form.birth.$error.required">생일을 입력해주세요.</div>-->
            <!--<div class='error' ng-show="form.gender.$error.required">성별을 선택해주세요.</div>-->

        </ion-content>

    </ion-view>
</form>