/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

//body {
//  font-family: 'NanumBarunGothic' !important;
//}

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@import "./helpers/_variables";
@import "./helpers/_mixins";

@import "./base/_typography";

@import "components/cards_basic";
@import "./components/_follow";
@import "./components/_intro";
@import "./components/_left_menu";
@import "./components/_mypage";
@import "./components/_navigation_basic";
@import "./components/_notification";
@import "./components/_post";
@import "./components/_post_detail";
@import "./components/_register";
@import "./components/_setting";
@import "components/header_basic";
@import "components/footer_basic";
@import "./components/_dialogs";
@import "./components/_tabs";
@import "./components/_interactive_screen";
@import "./components/_answer";
@import "./components/_comment";
@import "./components/_error_toast";
@import "layout/basic_setting";

