/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-select.md-THEME_NAME-theme:not([disabled]):focus .md-select-label {
  border-bottom-color: '{{primary-color}}';
  color: '{{ foreground-1 }}'; }
  md-select.md-THEME_NAME-theme:not([disabled]):focus .md-select-label.md-placeholder {
    color: '{{ foreground-1 }}'; }
md-select.md-THEME_NAME-theme:not([disabled]):focus.md-accent .md-select-label {
  border-bottom-color: '{{accent-color}}'; }
md-select.md-THEME_NAME-theme:not([disabled]):focus.md-warn .md-select-label {
  border-bottom-color: '{{warn-color}}'; }
md-select.md-THEME_NAME-theme[disabled] .md-select-label {
  color: '{{foreground-3}}'; }
  md-select.md-THEME_NAME-theme[disabled] .md-select-label.md-placeholder {
    color: '{{foreground-3}}'; }
md-select.md-THEME_NAME-theme .md-select-label {
  border-bottom-color: '{{foreground-4}}'; }
  md-select.md-THEME_NAME-theme .md-select-label.md-placeholder {
    color: '{{foreground-2}}'; }

md-select-menu.md-THEME_NAME-theme md-optgroup {
  color: '{{foreground-2}}'; }
  md-select-menu.md-THEME_NAME-theme md-optgroup md-option {
    color: '{{foreground-1}}'; }
md-select-menu.md-THEME_NAME-theme md-option[selected] {
  background-color: '{{primary-50}}'; }
  md-select-menu.md-THEME_NAME-theme md-option[selected]:focus {
    background-color: '{{primary-100}}'; }
  md-select-menu.md-THEME_NAME-theme md-option[selected].md-accent {
    background-color: '{{accent-50}}'; }
    md-select-menu.md-THEME_NAME-theme md-option[selected].md-accent:focus {
      background-color: '{{accent-100}}'; }
md-select-menu.md-THEME_NAME-theme md-option:focus:not([selected]) {
  background: '{{background-200}}'; }
