<ion-view hide-nav-bar="true">
    <ion-content class="intro" scroll="false">
        <div class="logo">
            <button class="button button-icon icon icon-linkat icon-linkat-logo"></button>
        </div>
        <div class="intro1">
        <a>이옷어디</a><span>는 일상생활 속에서 예쁜 옷사진을 공유하고 실제로 파는 곳의 </span>
        <a>링크를 서로 알려줄 수 있는 공간입니다</a>
        </div>
        <div class="login">
        <!--<a>이미 이옷어디 회원이신가요?</a>-->
        <!--<button class="button">로그인</button>-->
            <img src="file:///android_asset/www/img/facebook_login_button.png" on-touch="facebookLogin()">
        </div>

    </ion-content>
</ion-view>