<ion-view>
    <ion-nav-title>
        <span class="title">댓글</span>
    </ion-nav-title>
    <ion-content class="comment">

        <div class="list">
            <div class="item item-avatar" on-hold="openMenu($event)" ng-controller="CommentCtrl" ng-repeat="comment in comments">
                <img class="user-img" ng-src="{{comment.profile_small_url}}" ui-sref="app.mypage.qlikes({userUrl: '{{comment.user_url}}' })"/>
                <a class="nickname" ng-bind="comment.nickname" ui-sref="app.mypage.qlikes({userUrl: '{{comment.user_url}}' })"></a>
                <span class="created-date" am-time-ago="comment.created_date"></span>
                <p class="contents" ng-bind="comment.content"></p>
            </div>
        </div>


    </ion-content>

    <ion-footer-bar class="padding-side-10 comment-footer">
        <label class="item-input-wrapper">
            <textarea msd-elastic
                   placeholder="댓글을 입력해주세요"
                   ng-model="comment.content"
                   ng-minlength="1"
                   ng-maxlength="300"></textarea>
        </label>
        <button class="button" on-touch="insert()">
            게시
        </button>


    </ion-footer-bar>
</ion-view>