/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-card {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); }
  md-card > img, md-card > :not(md-card-content) img {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    width: 100%; }
  md-card md-card-content {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    padding: 16px; }
