<form name="form" novalidate>
    <ion-view>
        <ion-nav-title>
            <h1 class="title">프로필 설정</h1>
        </ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="button nav-button finish" on-touch="submit()" ng-show="form.$valid">완료</button>
        </ion-nav-buttons>

        <ion-content class="set-email" scroll="false">
            <div class="msg-block" ng-show="form.$error">
                <span class="msg-error block" ng-show="form.email.$error.email">
                    이메일을 확인해주세요.
                </span>
                <span class="msg-error block" ng-show="form.email.$error.ngRemoteValidate">
                    사용중인 이메일입니다.
                </span>
            </div>


            <div class="list">
                <span class="indicator"> 이메일을 입력해주세요.</span>

                <label class="item item-input">
                    <input type="email"
                           name="email"
                           placeholder="email을 입력하세요"
                           ng-model="user.email"
                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                           ng-remote-method="POST"
                           ng-remote-validate="{{API_URL}}/user/emailDuplicationCheck"
                           ng-required="true" >
                </label>
            </div>

            <div>{{email}}</div>
        </ion-content>

    </ion-view>
</form>