<form name="form" novalidate>
    <ion-view>
        <ion-nav-title>
            <h1 class="title">프로필 설정</h1>
        </ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="button nav-button finish" ng-click="submit()" ng-show="form.$valid">완료</button>
        </ion-nav-buttons>

        <ion-content class="set-introduce" scroll="false">
            <div class="msg-block" ng-show="form.$error">
                <span class="msg-error block" ng-show="form.introduce.$error.maxlength">
                    0~60자만 가능합니다.
                </span>
            </div>

            <div class="list">
                <span class="indicator">자기소개를 입력해주세요.</span>
                <label class="item item-input">
                    <input type="text"
                           name="introduce"
                           placeholder="자기소개를 입력하세요"
                           ng-model="user.introduce"
                           ng-maxlength="60">
                </label>
            </div>

        </ion-content>

    </ion-view>
</form>