<form name="form" novalidate>
    <ion-view>
        <ion-nav-title>
            <h1 class="title">프로필 설정</h1>
        </ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="button nav-button finish" on-touch="submit()" ng-show="form.$valid">완료</button>
        </ion-nav-buttons>

        <ion-content class="set-nickname" scroll="false">
            <div class="msg-block" ng-show="form.$error">
                <span class="msg-error block" ng-show="form.nickname.$error.required">
                    닉네임을 입력해주세요.
                </span>
                <span class="msg-error block" ng-show="form.nickname.$error.minlength || form.nickname.$error.maxlength || form.nickname.$error.pattern">
                    2~10자 영문자, 한글, 숫자만 사용가능합니다.
                </span>
            </div>

            <div class="list">
                <span class="indicator">닉네임을 입력해주세요 </span>
                <label class="item item-input">
                    <input type="text"
                           name="nickname"
                           placeholder="닉네임을 입력하세요"
                           ng-model="user.nickname"
                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                           ng-required="true"
                           ng-minlength="2"
                           ng-maxlength="10"
                           ng-pattern="/^[가-힣a-zA-Z0-9]+$/i">
                </label>
            </div>

        </ion-content>

    </ion-view>
</form>