<ion-view>
    <ion-nav-title>
        <span class="title">프로필 설정</span>
    </ion-nav-title>

    <ion-content class="profile-setting" scroll="false">
        <div class="user-profile">
            <div class="item-avatar">
                <img class="user-img" on-tap="profilePhoto()" ng-src="{{profile.profile_medium_url}}" />
            </div>
            <div class="item-avatar">
                <!--<img ng-src=none class="icon icon-linkat-camera"/>-->
                <img on-tap="profilePhoto()" ng-src="{{profile.profile_medium_url}}" />

            </div>
        </div>
        <!--<div class="item-avatar user-profile">-->
            <!--<img class="user-img" on-tap="profilePhoto()" ng-src="{{profile.profile_medium_url}}" />-->
            <!--<button class="button button-icon icon-linkat-camera" on-tap="profilePhoto()"></button>-->
        <!--</div>-->
        <div>
            <ul class="list">
                <li class="item email" on-touch="email()">
                    이메일<button class="button button-icon icon-right icon-linkat-modify"
                               ng-bind="profile.email"></button>
                </li>
                <li class="item nickname" on-touch="nickname()">
                    닉네임<button class="button button-icon icon-right icon-linkat-modify"
                               ng-bind="profile.nickname"></button>
                </li>
                <li class="item userurl" on-touch="userUrl()">
                    URL<button class="button button-icon icon-right icon-linkat-modify"
                               ng-bind="profile.user_url"></button>
                </li>
                <li class="item introduce" on-touch="introduce()">
                    자기소개<button class="button button-icon icon-right icon-linkat-modify"
                                ng-bind="profile.introduce"></button>
                </li>
            </ul>
        </div>
    </ion-content>

</ion-view>