<ion-view>
    <ion-nav-title>
        <h1 class="title">알림 설정</h1>
    </ion-nav-title>

    <ion-content scroll="false">
        <div class="row">
            <div class="col">
                <div class="list">
                    <div class="item">
                        알림을 설정해주세요
                    </div>
                    <div class="item">
                        푸시알림
                        <md-switch
                            name="setting.notification"
                            md-no-ink
                            ng-model="isActive"
                            ng-true-value="true"
                            ng-false-value="false"></md-switch>
                    </div>

                </div>
            </div>
        </div>
        <div>{{isActive}}</div>
    </ion-content>

</ion-view>
