/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-input-group.md-THEME_NAME-theme input, md-input-group.md-THEME_NAME-theme textarea {
  text-shadow: '{{foreground-shadow}}'; }
  md-input-group.md-THEME_NAME-theme input::-webkit-input-placeholder, md-input-group.md-THEME_NAME-theme input::-moz-placeholder, md-input-group.md-THEME_NAME-theme input:-moz-placeholder, md-input-group.md-THEME_NAME-theme input:-ms-input-placeholder, md-input-group.md-THEME_NAME-theme textarea::-webkit-input-placeholder, md-input-group.md-THEME_NAME-theme textarea::-moz-placeholder, md-input-group.md-THEME_NAME-theme textarea:-moz-placeholder, md-input-group.md-THEME_NAME-theme textarea:-ms-input-placeholder {
    color: '{{foreground-3}}'; }
md-input-group.md-THEME_NAME-theme label {
  text-shadow: '{{foreground-shadow}}';
  color: '{{foreground-3}}'; }
md-input-group.md-THEME_NAME-theme input, md-input-group.md-THEME_NAME-theme textarea {
  color: '{{foreground-1}}';
  border-color: '{{foreground-4}}'; }
md-input-group.md-THEME_NAME-theme.md-input-focused input, md-input-group.md-THEME_NAME-theme.md-input-focused textarea {
  border-color: '{{primary-500}}'; }
md-input-group.md-THEME_NAME-theme.md-input-focused label {
  color: '{{primary-500}}'; }
md-input-group.md-THEME_NAME-theme.md-input-focused.md-accent input, md-input-group.md-THEME_NAME-theme.md-input-focused.md-accent textarea {
  border-color: '{{accent-500}}'; }
md-input-group.md-THEME_NAME-theme.md-input-focused.md-accent label {
  color: '{{accent-500}}'; }
md-input-group.md-THEME_NAME-theme.md-input-has-value:not(.md-input-focused) label {
  color: '{{foreground-2}}'; }
md-input-group.md-THEME_NAME-theme .md-input[disabled] {
  border-bottom-color: '{{foreground-4}}';
  color: '{{foreground-3}}'; }
