/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-backdrop {
  z-index: 50;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  md-backdrop.md-select-backdrop {
    z-index: 81; }
  md-backdrop.md-dialog-backdrop {
    z-index: 79; }
  md-backdrop.md-bottom-sheet-backdrop {
    z-index: 69; }
  md-backdrop.md-sidenav-backdrop {
    z-index: 59; }
  md-backdrop.ng-enter {
    -webkit-animation: cubic-bezier(0.25, 0.8, 0.25, 1) mdBackdropFadeIn 0.5s both;
            animation: cubic-bezier(0.25, 0.8, 0.25, 1) mdBackdropFadeIn 0.5s both; }
  md-backdrop.ng-leave {
    -webkit-animation: cubic-bezier(0.55, 0, 0.55, 0.2) mdBackdropFadeOut 0.2s both;
            animation: cubic-bezier(0.55, 0, 0.55, 0.2) mdBackdropFadeOut 0.2s both; }

@-webkit-keyframes mdBackdropFadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes mdBackdropFadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes mdBackdropFadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@keyframes mdBackdropFadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }
