<ion-view>
    <ion-nav-title>
        <span class="title">이용약관</span>
    </ion-nav-title>

    <ion-content class="agreement">
        <p>
            ㈜찹스터 이옷어디("회사" 또는 "찹스터"라 함)는 이용자의 개인정보를 소중하게 생각하고, 이용자의 개인정보를 보호하기 위하여 최선의 노력을 다하고 있습니다.
            회사는 "정보통신망 이용촉진 및 정보보호 등에 관한 법률" 상의 개인정보보호 규정 및 방송통신위원회가 제정한 "개인정보보호지침"을 준수하고 있습니다.
        </p>
        <p>
            회사는 관련 법령에 의거한 개인정보취급방침을 정하여 이용자에게 본인의 개인정보가 어떠한 용도와 방식으로 이용되며, 개인정보 보호를 위해 어떠한 조치를
            취하는지에 대해 알려 드립니다. 또한 본 방침을 사이트에 공개하여 이용자가 언제나 쉽게 열람할 수 있도록 하고 있습니다.
        </p>
        <p>
            본 방침은 2015년 3월 18일부터 시행됩니다.
        </p>
        <p>제 1조 (목 적)</p><p>제 2 조 (용어의 정의)</p><p>제 3 조 (약관의 효력 및 변경)</p><p>제 4 조 (약관 외 준칙)</p><p>제 5 조 (이용계약의 성립)
    </p><p>제 6 조 (이용신청)</p><p>제 7 조 (이용신청에 대한 승낙 및 제한)</p><p>제 8 조 (회원정보의 변경)</p><p>제 9 조 (서비스 이용 관련 일반사항)
    </p><p>제 10 조 (서비스 이용 관련 세부사항)</p><p>제 11 조 (서비스의 변경 및 중지)</p><p>제 12 조 (정보 제공 및 광고 게재)</p>
        <p>제 13 조 (회사의 의무)</p><p>제 14 조 (회원의 의무)</p><p>제 15 조 (회원에 대한 통지)</p><p>제 16 조 (회원정보의 보호 및 이용)
    </p><p>제 17 조 (계약해지 및 이용제한)</p><p>제 18 조 (손해 배상)</p><p>제 19 조 (면책사항)</p><p>제 20 조 (분쟁 조정 및 관할법원)
    </p><p>부칙</p>

        <h3>제 1조 (목 적)</h3>
        <p>
            이 서비스 이용약관(이하 “약관”이라 합니다)은 주식회사 찹스터(이하 “회사”라 합니다)가 제공하는 서비스와 관련하여 회사와 회원 간에 서비스의 이용 조건 및 절차, 회사와 회원 간의 권리, 의무 및 책임 사항 기타 필요한 사항을 규정함을 목적으로 합니다.
        </p>
        <h3>제 2 조 (용어의 정의)</h3>
        <p>
            이 약관에서 사용하는 용어의 정의는 다음 각호와 같으며, 정의되지 않은 용어에 대한 해석은 관계법령 및 서비스별 안내에서 정하는 바에 따릅니다.
        </p>
        <p>
            회사가 수집하는 개인정보는 필수항목과 선택항목으로 구분됩니다.
        </p>
        <p>
            1) 서비스 : 회사가 PC, 휴대형 단말기 등 각종 유무선 기기 또는 프로그램을 통하여 회원의 정보를 수집 후 회원 간 사진, 패션 정보를 공유할 수 있도록 하는 서비스를 말합니다.
            <br>
            2) 회원 : 이 약관에 동의하고 이용신청을 하여 회사가 제공하는 서비스를 이용하는 자를 말합니다.
            <br>
            3) 회원 정보 : 회사가 서비스를 이용하고자 하는 회원에 대하여 적합한 서비스 제공하기 위하여 수집하는 회원 개별 정보를 말합니다.
            <br>
            4) 컨텐츠 : 부호, 문자, 도형, 색채, 음성, 음향, 이미지, 영상 등의 자료 또는 정보
            <br>
            5) 게시물 : 회원이 이옷어디가 제공하는 서비스에 게시 또는 등록하는 부호(URL포함), 문자, 이미지(사진 포함), 파일 등
            <br>
            6) 게시자 : 이옷어디가 제공하는 서비스 내에 게시물을 등록한 자
        </p>

        <h3>제 3 조 (약관의 효력 및 변경)</h3>
        <p>
            1)이 약관은 서비스 화면에 게시하거나 기타의 방법으로 회원에게 공지함으로써 효력이 발생합니다.
            <br>
            2)회사는 약관의 규제에 관한 법률, 위치정보보호법, 개인정보보호법, 전자상거래 등에서의 소비자보호에 관한 법률, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관계법령에 위배되지 않는 범위 내에서 이 약관을 개정할 수 있습니다.
            <br>
            3)회사는 약관을 개정할 경우 그 개정이유 및 적용일자를 명시하여 현행 약관과 함께 적용일자 10일전부터 적용일 전일까지 제1항의 방법으로 공지합니다. 다만, 회원의 권리 또는 의무에 관한 중요한 규정의 변경은 최소한 30일전에 공지하고 개정약관을 회원이 등록한 메일, SMS 등으로 발송하여 통지합니다.
            <br>
            4)회사가 제3항에 따라 개정약관을 공지 또는 통지하면서 회원에게 약관 변경 적용일까지 거부의사를 표시하지 않으면 의사표시가 표명된 것으로 본다는 뜻을 공지 또는 통지하였음에도 불구하고 회원이 명시적으로 거부의사를 표시하지 아니하는 경우 회원이 개정약관에 동의한 것으로 봅니다.
            <br>
            5)회원은 변경된 약관에 동의하지 아니하는 경우 서비스의 이용을 중단하고 이용계약을 해지할 수 있습니다.
            <br>
            6)국내이동통신사의 이동전화에 가입한 회원은 유무선연동 통합서비스의 원활한 제공을 위하여 이동전화 이용약관의 유무선 연동 통합서비스 관련 내용 중 서비스와 관련된 내용을 이 약관의 내용으로 하는데 동의한 것으로 봅니다.
            <br>
            7)회원은 약관의 변경에 대하여 주의의무를 다하여야 하며, 변경된 약관의 부지(不知)로 인한 회원의 피해는 회사가 책임지지 않습니다.
        </p>
        <h3>제 4 조 (약관 외 준칙)</h3>
        <p>
            이 약관에 명시되지 않은 사항에 대해서는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 약관의 규제에 관한 법률, 전기통신사업법 등 관계법령 및 회사가 정한 서비스의 세부이용지침 등의 규정에 따릅니다.
            파기절차 및 방법은 다음과 같습니다.
        </p>

        <h3>제 5 조 (이용계약의 성립)</h3>
        <p>
            1)서비스 이용계약은 회사의 서비스를 이용하려는 회원이 이 약관 및 “개인정보취급방침"에 “동의합니다"를 선택하고, 회사가 정한 신청양식을 작성하여 서비스의 이용을 신청한 후, 회사가 이를 승낙함으로써 성립합니다.
            <br>
            2)회사의 서비스를 이용하려는 회원이 전항의 "동의합니다"를 선택하고 회원정보를 작성하는 행위는 이 약관 및 “개인정보취급방침”에 대한 내용을 숙지하고, 회사가 서비스 이용을 위해 운영하는 각종 정책(예 : 개인정보취급방침, 저작권 정책, 스팸정책 등)과 수시로 공지하는 사항을 준수하는 것에 대해 동의하는 것으로 봅니다.
        </p>

        <h3>제 6 조 (이용신청)</h3>
        <p>
            1)회원이 기재하는 회원정보는 회원의 실제정보인 것으로 간주되고, 실제정보를 입력하지 않은 회원은 법적인 보호를 받을 수 없으며 서비스 이용에 제한을 받을 수 있습니다.
            <br>
            2)만14세 미만의 아동이 서비스를 이용하기 위해서는 회사가 요구하는 소정의 법정대리인의 동의절차를 거쳐야 합니다.
            <br>
            3)타인의 개인정보를 도용하는 등 부정한 목적과 방법으로 이용신청을 한 회원의 ID는 사전 통지 없이 삭제될 수 있으며, 당해 회원은 관계법령에 따라 처벌을 받을 수 있습니다.
        </p>

        <h3>제 7 조 (이용신청에 대한 승낙 및 제한)</h3>
        <p>
            1)회사는 서비스의 이용을 신청한 이용고객에 대하여 업무상ㆍ기술상 지장이 없는 한 접수순서에 따라 서비스의 이용을 승낙합니다.
            <br>
            2)회사는 다음 각 호에 해당하는 이용신청에 대하여는 승낙을 하지 않을 수 있습니다.
            <br>
            3. 회사는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 "3. 개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로
            <br>
            ①기술상 서비스 제공이 불가능한 경우
            <br>
            ②회원정보를 허위로 기재한 경우
            <br>
            ③회원정보의 기재사항을 누락하거나 오기하여 신청하는 경우
            <br>
            ④사회의 안녕질서 또는 미풍양속을 저해하거나 저해할 목적으로 신청한 경우
            <br>
            ⑤회원의 귀책사유에 의하여 회원자격을 상실한 적이 있는 경우. 다만, 자격상실 후 6개월 이상 경과한 자로 회사의 회원 재가입 승낙을 받은 경우는 예외로 합니다.
            <br>
            ⑥기타 회사가 정한 이용요건에 충족되지 않았을 경우
            <br>
            3)회사는 서비스를 이용하는 회원에 대하여 회원의 종류 및 등급별로 구분하여 이용시간, 이용회수, 서비스 메뉴 등을 세분하여 이용에 차등을 둘 수 있습니다
        </p>
        <h3>제 8 조 (회원정보의 변경)</h3>
        <p>
            회원은 서비스를 이용하면서 신청양식에 기재한 회원정보가 변경되었을 경우 지체 없이 회원정보를 수정하여야 합니다. 회원정보를 수정하지 않음으로 인하여 발생하는 모든 책임은 회원에게 있습니다.
        </p>
        <h3>제 9 조 (서비스 이용 관련 일반사항)</h3>
        <p>
            1)회사의 업무상ㆍ기술상의 장애로 인하여 서비스를 개시하지 못하는 경우에는 서비스에 공지하거나 회원에게 이를 통지합니다.
            <br>
            2)서비스의 이용은 연중무휴 1일 24시간을 원칙으로 합니다. 다만, 회사의 업무상ㆍ기술상 또는 서비스 운영정책상 서비스가 일시 중지될 수 있습니다. 이러한 경우 회사는 사전 또는 사후에 이를 공지합니다
            <br>
            3)회사는 서비스를 일정 범위로 분할하여 각 범위 별로 이용 가능한 시간을 별도로 정할 수 있으며 이 경우 그 내용을 공지합니다.
            <br>
            4)회사는 서비스 내의 개별 서비스에 대한 별도의 약관을 둘 수 있으며, 개별 서비스에서 별도로 적용되는 약관에 대한 동의는 회원이 개별 서비스를 최초로 이용할 경우 별도의 동의절차를 거치게 됩니다.
        </p>
        <h3>제 10 조 (서비스 이용 관련 세부사항)</h3>
        <p>
            1)회사는 회원의 이용신청에 따라 서비스를 개시합니다.
            <br>
            2)회원은 자신이 가지고 있는 이미지, 사진 등을 게시글의 형태로 다른 사용자와 공유할 수 있습니다.
            <br>
            3)공유된 게시글에는 다른 사용자가 해당 이미지, 사진 속에 있는 상품을 실제 파는 곳의 외부 링크를 알려주기 위해 답변 기능을 사용할 수 있습니다.
            <br>
            4)사용자는 상품을 구매할 수 있는 외부 링크를 통해 사고 싶은 제품을 보관하고 링크를 클릭하여 해당 사이트로 연결될 수 있습니다.
            <br>
            5)회사는 이옷어디를 통해 들어간 외부 링크에서 이루어진 결제 행위에 대한 책임을 지지 않습니다.
        </p>
        <h3>제 11 조 (서비스의 변경 및 중지)</h3>
        <p>
            1)회사는 서비스(개별 서비스 포함)를 변경하여야 하는 상당한 이유가 있는 경우 변경될 서비스의 내용 및 제공일자를 제14조에서 정한 방법으로 회원에게 통지하고 서비스를 변경하여 제공할 수 있습니다.
            <br>
            2)회사는 다음 각호에 해당하는 경우 서비스의 전부 또는 일부를 제한하거나 중지할 수 있습니다. 이 경우 회사는 제한 또는 중단 사유를 사전에 공지합니다
            <br>
            ①서비스용 설비의 보수 등 공사로 인한 부득이한 경우
            <br>
            ②회사가 통제하기 곤란한 사정으로 불가피하게 서비스 제한 또는 중단이 필요한 경우
            <br>
            ③회원이 회사의 영업활동을 방해하는 경우
            <br>
            ④정전, 제반 설비의 장애 또는 서비스 이용량의 폭주 등으로 정상적인 서비스 이용에 지장이 있는 경우
            <br>
            ⑤새로운 서비스로의 교체, 개별 서비스를 회사가 운영하는 다른 사이트로 이전하는 등 회사의 서비스 운영정책상 서비스의 제한 또는 중단이 필요하다고 판단하는 경우
            <br>
            ⑥제휴업체(BP)와의 계약종료 등과 같은 회사의 제반 사정으로 서비스를 유지할 수 없는 경우
            <br>
            ⑦기타 천재지변, 국가비상사태 등 불가항력적 사유가 있는 경우
            <br>
            3)회사는 비실명인 회원, 만14세 미만 회원, 청소년보호법상의 보호대상인 회원, 만 19세 미만의 회원, 외국인 회원, 법인 및 단체 회원, 폰번호 회원 등 회원 별로 서비스의 이용을 제한할 수 있으며, 이러한 서비스 제한에 대한 사항은 개별 서비스에서 별도로 안내 또는 공지합니다.
        </p>
        <h3>제 12 조 (정보 제공 및 광고 게재)</h3>
        <p>
            1)회사는 서비스를 운영함에 있어 각종 정보를 서비스 화면에 게재하거나 메일, 쪽지, SMS등의 방법으로 회원에게 제공할 수 있습니다.
            <br>
            2)회사는 서비스의 운영과 관련하여 광고 등을 서비스 화면에 게재하거나, 메일, 쪽지, SMS등을 통하여 발송할 수 있습니다. 다만, 회사는 회원에게 메일, 쪽지, SMS 등을 발송하는 경우 수신 동의 여부를 확인하여, 수신 동의한 회원에 한하여 이를 발송합니다.
            <br>
            3)회원이 서비스상에 게재되어 있는 광고를 이용하거나 서비스를 통한 광고주의 판촉활동에 참여하는 등의 방법으로 교신 또는 거래를 하는 것은 전적으로 회원과 광고주간의 문제입니다. 만약, 회원과 광고주간에 문제가 발생할 경우에도 회원과 광고주가 직접 해결하여야 하며, 이와 관련하여 회사는 어떠한 책임도 지지 않습니다
        </p>
        <h3>제 13 조 (회사의 의무)</h3>
        <p>
            1)회사는 서비스 제공과 관련하여 알고 있는 회원의 회원정보를 본인의 동의없이 제3자에게 제공하지 않습니다.
            <br>
            2)회사는 회원의 회원정보를 보호하기 위해 보안시스템을 구축 운영하며, "개인정보취급방침"을 공지하고 준수합니다. 또한, 회사는 "개인정보취급방침" 따라 회원정보를 취급함에 있어 안정성 확보에 필요한 기술적 및 관리적 대책을 수립ㆍ운영합니다.
            <br>
            3)회사는 서비스와 관련한 회원의 불만사항이 접수되는 경우 이를 신속하게 처리하여야 하며, 신속한 처리가 곤란한 경우 그 사유와 처리 일정을 서비스 화면에 게재하거나 메일 등을 통하여 회원에게 통지합니다.
            <br>
            4)회사가 제공하는 서비스로 인하여 회원에게 손해가 발생한 경우 그러한 손해가 회사의 고의나 과실에 기해 발생한 경우에 한하여 회사에서 책임을 부담하며, 그 책임의 범위는 통상손해에 한합니다.
        </p>

        <h3>제 14 조 (회원의 의무)</h3>
        <p>
            1)회원은 관계법령, 약관, 서비스 이용안내 및 서비스상에 공지한 주의사항, 회사가 서비스 이용과 관련하여 회원에게 통지하는 사항 등을 준수하여야 하며, 기타 회사의 업무에 방해되는 행위를 하여서는 아니 됩니다.
            <br>
            2)회원은 회사에서 공식적으로 인정한 경우를 제외하고는 서비스를 이용하여 상품을 판매하는 영업 활동을 할 수 없으며, 특히 해킹, 광고를 통한 수익, 음란사이트를 통한상업행위, 상용소프트웨어 불법배포 등을 할 수 없습니다. 이를 위반하여 발생한 영업 활동의 결과 및 손실, 관계기관에 의한 구속 등 법적 조치 등에 관해서는 회사가책임을 지지 않으며, 회원은 이와 같은 행위와 관련하여 회사에 대하여 손해배상 의무를 집니다.
            <br>
            3)회원은 회원정보 작성이나 변경 시 모든 사항을 사실에 근거하여 작성하여야 하며, 허위 또는 타인의 개인정보를 이용한 사실이 발견된 경우 회원은 서비스 이용과 관련한 일체의 권리를 주장할 수 없습니다.
            <br>
            4)회원은 서비스의 이용권한, 기타 서비스 이용계약상의 지위를 타인에게 양도, 증여할 수 없으며 이를 담보로 제공할 수 없습니다.
            <br>
            5)회원의 관리소홀, 부정사용 등에 의하여 발생하는 모든 결과에 대한 책임은 회원 본인이 부담하며, 회사는 고의 또는 과실이 없는 한 이에 대한 어떠한 책임도 부담하지 않습니다.
            <br>
            6) 다른 사람이 찍은 사진을 무단으로 업로드 하지 않아야 하며, 타인의 초상권, 저작권을 무단으로 침해하여 분쟁이 발생할 경우 회사는 책임지지 않습니다.
        </p>
        <h3>제 15 조 (회원에 대한 통지)</h3>
        <p>
            1)회사는 회원의 서비스 이용에 필요한 권리 및 의무 등에 관한 사항을 회사가 발급한 또는 회원이 지정한 메일, SMS 등으로 통지할 수 있습니다.
            <br>
            2)회사는 불특정 다수 회원에 대한 통지의 경우 서비스에 게시함으로써 개별 통지에 갈음할 수 있습니다.
        </p>
        <h3>제 16 조 (회원정보의 보호 및 이용)</h3>
        <p>
            1)회사는 적법하고 공정한 수단에 의하여 이용계약의 성립 및 이행에 필요한 최소한의 범위 내에서 "개인정보취급방침"에 따라 이용고객의 회원정보를 수집합니다.
            <br>
            2)회사의 "개인정보취급방침"은 회사에 링크된 다른 웹사이트(회사가 운영하지 않는 웹사이트를 말합니다. 이하 같습니다)에서는 적용되지 않습니다.
            <br>
            3)회사는 전기통신사업법, 통신비밀보호법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보보호법 등 관계법령에 따라 행정기관이나 수사기관 등에서 회원의 회원정보의 열람이나 제출을 요청하는 경우에는 이를 제공할 수 있습니다.
            <br>
            4)회사는 회원의 귀책사유로 인해 노출된 회원정보에 대해서 일체의 책임을 부담하지 않습니다.
            <br>
            5)회사는 회원정보의 취급 및 관리, 서비스 운영 등의 업무를 스스로 수행함을 원칙으로 하나, 필요한 경우 이러한 업무의 일부 또는 전부를 회사가 선정한 회사에 위탁할 수 있으며, 회원정보의 취급 및 관리, 서비스 운영 등에 관한 업무를 위탁하는 경우에는 "개인정보취급방침"에 공지합니다.
            <br>
            6)회원이 이용계약 체결과정에서 회사에 제공한 회원정보에 대한 수집•이용 또는 제공에 대한 동의를 철회하고자 하는 경우에는 "개인정보취급방침"에서 정한 바에 따르며, 회원이 이러한 동의를 철회하는 경우 서비스 이용계약은 자동으로 해지됩니다.
        </p>
        <h3>제 17 조 (계약해지 및 이용제한)</h3>
        <p>
            1)회원이 서비스 이용계약을 해지하고자 할 경우에는 회사가 운영하는 "고객센터"에서 해지신청을 하여야 합니다.
            <br>
            2)회사는 회원이 이 약관 및 개별서비스 이용약관을 위반한 경우 경고, 일시적 이용정지, 영구적 이용정지 등의 단계로 서비스 이용을 제한하거나 이용계약을 해지할 수 있습니다.
            <br>
            3)회원은 제2항에 따른 서비스 이용정지 기타 서비스 이용과 관련된 이용제한에 대해 회사가 정한 절차에 따라 이의신청을 할 수 있으며, 회사는 회원의 이의신청이 정당하다고 판단되는 경우 즉시 서비스 이용을 재개합니다.
        </p>
        <h3>제 18 조 (손해 배상)</h3>
        <p>
            1)회원이 본 약관의 규정을 위반함으로 인하여 회사에 손해가 발생하게 되는 경우, 이 약관을 위반한 회원은 회사에 발생하는 모든 손해를 배상하여야 합니다.
            <br>
            2)회원이 서비스를 이용하는 과정에서 행한 불법행위나 이 약관 위반행위로 인하여 회사가 당해 회원 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를 받는 경우 당해 회원은 자신의 책임과 비용으로 회사를 면책 시켜야 하며, 회사가 면책되지 못한 경우 당해 회원은 그로 인하여 회사에 발생한 모든 손해를 배상하여야 합니다.
        </p>
        <h3>제 19 조 (면책사항)</h3>
        <p>
            1)회사는 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면책됩니다.
            <br>
            2)회사는 회원의 귀책사유로 인한 서비스의 이용장애에 대하여 책임을 지지 않습니다.
            <br>
            3)회사는 고의 또는 과실이 없는 한 회원이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며 그 밖에 서비스를 통하여 얻은 자료로 인한 손해 등에 대하여도 책임을 지지 않습니다. 회사는 회원이 사이트에 게재한 게시물의 정확성 등 내용에 대하여는 책임을 지지 않습니다.
            <br>
            4)회사는 회원 상호간 또는 회원과 제3자 상호간에 서비스를 매개로 발생한 분쟁에 대해서는 개입할 의무가 없으며 회사의 고의 또는 과실이 없는 한 이로 인한 손해를 배상할 책임도 없습니다.
        </p>
        <h3>제 20 조 (분쟁 조정 및 관할법원)</h3>
        <p>
            1)회원은 개인정보 및 서비스 이용과 관련된 사항에 관한 문제제기 또는 문제해결은 회사가 운영하는 고객센터 또는 권리침해신고센터를 통하여 처리하여야 합니다.
            <br>
            2)회사와 회원 간에 서비스 이용과 관련하여 발생한 분쟁에 대한 소송이 제기되는 경우 회원의 주소지를 관할하는 법원, 회원의 주소지를 알 수 없는 경우에는 거소지에 따라 관할 법원을 정하고, 주소지나 거소지를 알 수 없는 경우에는 대한민국의 민사소송법상의 법원을 관할법원으로 하여 해결합니다.
        </p>
        <h3>제 21 조 (콘텐츠)</h3>
        <p>
            1)회원이 서비스 내에 게시한 콘텐츠의 저작권은 해당 게시물의 저작자에게 귀속되며, 저작권법에 의해 보호받습니다.
            <br>
            2) 회원은 게시한 콘텐츠의 저작권 및 기타 산업재산권을 갖고 있습니다. 다만 회원은 본 서비스에 콘텐츠를 게시함으로써 이옷어디가 서비스 및 사업과 관련하여 해당 콘텐츠(및 그 2차적 저작물)의 일부 또는 전부를 전 세계적으로 비독점적으로 무상으로 사용할 권리(이용, 공개, 반포, 광고, 출판, 복제, 공연, 공중송신, 전시, 배포, 대여, 2차저작물작성)를 허락하며 이를 양도 할 수 있음에 동의한 것으로 간주합니다. 또한 이옷어디에 대해 저작인격권을 행사 하지 않을 것에 동의한 것으로 간주합니다.
            <br>
            3) 회원이 서비스 내에 게시하는 게시물은 검색결과 내지 서비스 및 관련 프로모션 등에 노출될 수 있으며, 해당 노출을 위해 필요한 범위 내에서는 일부 수정, 복제, 편집되어 게시될 수 있습니다.
        </p>
        <h3>부칙</h3>
        <p>
            본 개인정보취급방침은 2015년 3월 18일부터 적용됩니다.
            <br>
            법령·정책 또는 보안기술의 변경에 따라 현 개인정보취급방침 내용의 추가·삭제 및 수정이 있을 시에는 개정안 적용일의 7일 전부터 회사의 사이트 내 공지사항을 통하여 고지할 것입니다. 다만, 개인정보의 수집 및 활용, 제 3자 제공 등과 같이 이용자 권리의 중요한 변경이 있을 경우에는 최소 30일 전에 고지합니다.
        </p>
    </ion-content>
</ion-view>