<ion-view>
    <ion-nav-title>
        <span class="title">설정</span>
    </ion-nav-title>

    <ion-content class="setting">
        <div class="user-profile">
            <div class="item-avatar">
                <img class="user-img" on-tap="profilePhoto()" ng-src="{{profile.profile_medium_url}}" />
                <!--<img class="user-img" on-tap="profilePhoto()" ng-src="profile.profile_medium_url ? '{{profile.profile_medium_url}}' : '/img/profile-default.png'" />-->
                <img class="profile-change" on-tap="profilePhoto()" src="file:///android_asset/www/img/camera.png" />
            </div>

        </div>
        <!--<div class="item-avatar user-profile">-->
        <!--<img class="user-img" on-tap="profilePhoto()" ng-src="{{profile.profile_medium_url}}" />-->
        <!--<button class="button button-icon icon-linkat-camera" on-tap="profilePhoto()"></button>-->
        <!--</div>-->

        <ul class="list">
            <li class="item email" on-touch="email()">
                이메일<button class="button button-icon icon-right icon-linkat-modify"
                           ng-bind="profile.email"></button>
            </li>
            <li class="item nickname" on-touch="nickname()">
                닉네임<button class="button button-icon icon-right icon-linkat-modify"
                           ng-bind="profile.nickname"></button>
            </li>
            <li class="item userurl" on-touch="userUrl()">
                URL<button class="button button-icon icon-right icon-linkat-modify"
                           ng-bind="profile.user_url"></button>
            </li>
            <li class="item introduce" on-touch="introduce()">
                자기소개<button class="button button-icon icon-right icon-linkat-modify"
                            ng-bind="profile.introduce"></button>
            </li>
        </ul>
        <!--<div class="item push">-->
            <!--푸시알림-->
            <!--<md-switch-->
                <!--md-no-ink-->
                <!--ng-model="profile.notification"-->
                <!--ng-true-value="1"-->
                <!--ng-false-value="0"-->
                <!--ng-change="toggleNotification()"></md-switch>-->
            <!---->
            <!---->
        <!--</div>-->
        <div class="item item-toggle push row row-center" on-touch="toggleNotification">
            푸시알림
            <div class="col">
                <ion-toggle
                    ng-model="profile.notification"
                    ng-change="toggleNotification()"
                    ng-checked="profile.notification"
                    toggle-class="toggle-calm"></ion-toggle>
            </div>
        </div>
        <div class="item agreement" ui-sref="app.settings-agreement">
            이용약관<button class="button button-icon icon-right icon-linkat-modify"></button>
        </div>
        <div class="item privacy" ui-sref="app.settings-privacy">
            개인정보취급방침<button class="button button-icon icon-right icon-linkat-modify"></button>
        </div>
        <div class="item version" >
            버전 1.0
        </div>
        <div class="item logout" >
            로그아웃
        </div>
    </ion-content>
</ion-view>