/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-toolbar .md-button.md-THEME_NAME-theme.md-fab {
  background-color: white; }

.md-button.md-THEME_NAME-theme {
  border-radius: 3px; }
  .md-button.md-THEME_NAME-theme:not([disabled]):hover, .md-button.md-THEME_NAME-theme:not([disabled]):focus {
    background-color: '{{background-500-0.2}}'; }
  .md-button.md-THEME_NAME-theme.md-primary {
    color: '{{primary-color}}'; }
    .md-button.md-THEME_NAME-theme.md-primary.md-raised, .md-button.md-THEME_NAME-theme.md-primary.md-fab {
      color: '{{primary-contrast}}';
      background-color: '{{primary-color}}'; }
      .md-button.md-THEME_NAME-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-THEME_NAME-theme.md-primary.md-raised:not([disabled]):focus, .md-button.md-THEME_NAME-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-THEME_NAME-theme.md-primary.md-fab:not([disabled]):focus {
        background-color: '{{primary-600}}'; }
  .md-button.md-THEME_NAME-theme.md-fab {
    border-radius: 50%;
    background-color: '{{accent-color}}';
    color: '{{accent-contrast}}'; }
    .md-button.md-THEME_NAME-theme.md-fab:not([disabled]):hover, .md-button.md-THEME_NAME-theme.md-fab:not([disabled]):focus {
      background-color: '{{accent-A700}}'; }
  .md-button.md-THEME_NAME-theme.md-raised {
    color: '{{background-contrast}}';
    background-color: '{{background-50}}'; }
    .md-button.md-THEME_NAME-theme.md-raised:not([disabled]):hover, .md-button.md-THEME_NAME-theme.md-raised:not([disabled]):focus {
      background-color: '{{background-200}}'; }
  .md-button.md-THEME_NAME-theme.md-warn {
    color: '{{warn-color}}'; }
    .md-button.md-THEME_NAME-theme.md-warn.md-raised, .md-button.md-THEME_NAME-theme.md-warn.md-fab {
      color: '{{warn-contrast}}';
      background-color: '{{warn-color}}'; }
      .md-button.md-THEME_NAME-theme.md-warn.md-raised:not([disabled]):hover, .md-button.md-THEME_NAME-theme.md-warn.md-raised:not([disabled]):focus, .md-button.md-THEME_NAME-theme.md-warn.md-fab:not([disabled]):hover, .md-button.md-THEME_NAME-theme.md-warn.md-fab:not([disabled]):focus {
        background-color: '{{warn-700}}'; }
  .md-button.md-THEME_NAME-theme.md-accent {
    color: '{{accent-color}}'; }
    .md-button.md-THEME_NAME-theme.md-accent.md-raised, .md-button.md-THEME_NAME-theme.md-accent.md-fab {
      color: '{{accent-contrast}}';
      background-color: '{{accent-color}}'; }
      .md-button.md-THEME_NAME-theme.md-accent.md-raised:not([disabled]):hover, .md-button.md-THEME_NAME-theme.md-accent.md-raised:not([disabled]):focus, .md-button.md-THEME_NAME-theme.md-accent.md-fab:not([disabled]):hover, .md-button.md-THEME_NAME-theme.md-accent.md-fab:not([disabled]):focus {
        background-color: '{{accent-700}}'; }
  .md-button.md-THEME_NAME-theme[disabled], .md-button.md-THEME_NAME-theme.md-raised[disabled], .md-button.md-THEME_NAME-theme.md-fab[disabled] {
    color: '{{foreground-3}}';
    background-color: transparent;
    cursor: not-allowed; }
