<md-dialog class="menu-dialog">
    <md-content>
        <div class="list">
            <div class="item" on-touch="">
                공유
            </div>
            <div class="item" ng-if="isMine" on-touch="update($event)">
                수정
            </div>
            <div class="item" ng-if="isMine" on-touch="delete($event)">
                삭제
            </div>
            <div class="item" on-touch="">
                취소
            </div>
            <!--<div class="item" on-touch="cancel($event)">-->
                <!--취소-->
            <!--</div>-->
        </div >
    </md-content>
</md-dialog>