/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-switch.md-THEME_NAME-theme .md-thumb {
  background-color: '{{background-50}}'; }
md-switch.md-THEME_NAME-theme .md-bar {
  background-color: '{{background-500}}'; }
md-switch.md-THEME_NAME-theme.md-checked .md-thumb {
  background-color: '{{accent-color}}'; }
md-switch.md-THEME_NAME-theme.md-checked .md-bar {
  background-color: '{{accent-color-0.5}}'; }
md-switch.md-THEME_NAME-theme.md-checked.md-primary .md-thumb {
  background-color: '{{primary-color}}'; }
md-switch.md-THEME_NAME-theme.md-checked.md-primary .md-bar {
  background-color: '{{primary-color-0.5}}'; }
md-switch.md-THEME_NAME-theme.md-checked.md-warn .md-thumb {
  background-color: '{{warn-color}}'; }
md-switch.md-THEME_NAME-theme.md-checked.md-warn .md-bar {
  background-color: '{{warn-color-0.5}}'; }
md-switch.md-THEME_NAME-theme[disabled] .md-thumb {
  background-color: '{{background-400}}'; }
md-switch.md-THEME_NAME-theme[disabled] .md-bar {
  background-color: '{{foreground-4}}'; }
md-switch.md-THEME_NAME-theme:focus .md-label:not(:empty) {
  border-color: '{{foreground-1}}';
  border-style: dotted; }
