<ion-view>
    <ion-nav-buttons side="right">
        <!--<button class="button button-icon icon ion-lightbulb" on-touch="notifications()"></button>-->
        <!--<button class="button button-icon ion-camera" ui-sref="app.post-new"></button>-->
        <button class="button button-icon icon icon-linkat-alarm" on-touch="notifications()"></button>
        <button class="button button-icon icon-linkat-upload" ui-sref="app.post-new"></button>
    </ion-nav-buttons>
    <ion-content class="post-detail">
        <div class="list card detail" ng-hide="isLoading">
            <div class="item item-avatar row row-center">
                <img class="user-img" ng-src="{{post.profile_small_url}}" on-touch="goToMypage()"/>
                <div class="col">
                    <a class="nickname" ng-bind="post.nickname" on-touch="goToMypage()"></a>
                    <p class="category" ng-bind="post.category_name"></p>
                </div>
                <div class="col">
                    <button class="button button-icon icon icon-linkat-viewmore" on-touch="menu($event)"></button>
                </div>
            </div>
            <div class="item item-image">
                <img class="post-img" ng-src="{{post.question_image_url}}"/>
                <p class="contents" ng-bind="post.content"></p>
            </div>
        </div>

        <div class="list card answer" ng-controller="AnswerCtrl as answerCtrl" ng-repeat="answer in answers">
            <div class="item item-avatar row row-center">
                <img class="user-img" ng-src="{{answer.profile_small_url}}" ui-sref="app.mypage.qlikes({userUrl: '{{answer.user_url}}' })"/>
                <div class="col">
                    <a class="nickname" ng-bind="answer.nickname" ui-sref="app.mypage.qlikes({userUrl: '{{answer.user_url}}' })"></a>
                    <p class="category" ng-bind="answer.category_name"></p>
                </div>
                <div class="col">
                    <button class="button button-icon icon icon-linkat-viewmore" on-tap="answerCtrl.menu($event)"></button>
                </div>
            </div>

            <div class="item item-body row" on-tap="goToLink('{{answer.link}}')">
                <div class="answer-img">
                    <img ng-src="{{answer.answer_image_url}}"/></a>
                </div>
                <div class="answer-content">
                    <a class="price icon-linkat-won" ng-bind="answer.price"></a>
                    <br>
                    <a class="contents" ng-bind="answer.content"></a>
                </div>
            </div>

            <div class="item tabs tabs-secondary">
                <a class="tab-item" ng-class="{liked: answer.liked}" on-tap="answerCtrl.toggleLike()">
                    갖고싶어 <span ng-bind="answer.like_count < 1 ? '': answer.like_count"></span></a>
                </a>
            </div>

        </div>

    </ion-content>

    <ion-footer-bar class="post-detail-footer" ng-hide="isLoading">
        <div class="button-bar">
            <a class="button" ng-class="{active: post.liked}" on-touch="togglelike()"><span>나도궁금<span class="count" ng-bind="post.like_count < 1 ? '': post.like_count"></span></span></a>
            <a class="button" on-touch="comments()">댓글<span class="count" ng-bind="post.comment_count < 1 ? '': post.comment_count"></span></a>
            <a class="button" on-touch="answer()">찾았어요<span class="count" ng-bind="post.answer_count < 1 ? '': post.answer_count"></span></a>
        </div>
    </ion-footer-bar>
</ion-view>