<form name="form" novalidate>
    <ion-view>
        <ion-nav-title>
            <h1 class="title">수정하기</h1>
        </ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="button nav-button finish" ng-click="next()">완료</button>
        </ion-nav-buttons>

        <ion-content class="post-update" scroll="false">

            <div>
                <div class="list card">
                    <div class="item content">
                        <textarea msd-elastic
                                  name="content"
                                  placeholder="내용을 입력하세요."
                                  rows="5"
                                  ng-model="post.content"
                                  ng-required="true"
                                  ng-minlength="2"
                                  ng-maxlength="300">

                        </textarea>
                    </div>
                    <div class="item">
                        <div class="row row-center">
                            <div class="col label">
                                <span>성별</span>
                            </div>
                            <div class="col text-radio-group">
                                <input type="radio"
                                       id="gender1"
                                       name="gender"
                                       value="1"
                                       ng-model="post.gender"
                                       ng-required="true">
                                <label for="gender1">남자</label>

                                <input type="radio"
                                       id="gender2"
                                       name="gender"
                                       value="2"
                                       ng-model="post.gender"
                                       ng-required="true">
                                <label for="gender2">여자</label>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row row-center">
                            <div class="col label">
                                <span>카테고리</span>
                            </div>
                            <div class="text-radio-group">
                                <input type="radio"
                                       id="category3"
                                       name="category"
                                       value="3"
                                       ng-model="post.category"
                                       ng-required="true">
                                <label for="category3">잡화</label>
                                <input type="radio"
                                       id="category1"
                                       name="category"
                                       value="1"
                                       ng-model="post.category"
                                       ng-required="true">
                                <label for="category1">신발</label>
                                <input type="radio"
                                       id="category2"
                                       name="category"
                                       value="2"
                                       ng-model="post.category"
                                       ng-required="true">
                                <label for="category2">의류</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-class="{'error-toast' : form.content.$error.required, 'noerror' : !form.content.$error.required}">내용을 입력하세요.</div>
            <div ng-class="{'error-toast' : form.content.$error.minlength, 'noerror' : !form.content.$error.minlength}">2자이상 300자 이하로 입력해주세요.</div>
            <div ng-class="{'error-toast' : form.content.$error.maxlength, 'noerror' : !form.content.$error.maxlength}">2자이상 300자 이하로 입력해주세요.</div>
            <!--<div class="msg-block" ng-show="form.$error">-->
            <!--<div class="msg-block" ng-show="form.$error">-->
            <!--<span class="msg-error block" ng-show="form.content.$error.required">-->
            <!--내용을 입력하세요.-->
            <!--</span>-->
            <!--<span class="msg-error block" ng-show="form.content.$error.minlength">-->
            <!--2자이상 300자 이하로 입력해주세요.-->
            <!--</span>-->
            <!--<span class="msg-error block" ng-show="form.content.$error.maxlength">-->
            <!--2자이상 300자 이하로 입력해주세요.-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->

        </ion-content>

    </ion-view>
</form>