/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-autocomplete {
  background: '{{background-50}}'; }
  md-autocomplete button md-icon path {
    fill: '{{background-600}}'; }
  md-autocomplete button:after {
    background: '{{background-600-0.3}}'; }
  md-autocomplete ul {
    background: '{{background-50}}'; }
    md-autocomplete ul li {
      border-top: 1px solid '{{background-400}}';
      color: '{{background-900}}'; }
      md-autocomplete ul li .highlight {
        color: '{{background-600}}'; }
      md-autocomplete ul li:hover, md-autocomplete ul li.selected {
        background: '{{background-200}}'; }
