/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
@-webkit-keyframes md-autocomplete-list-out {
  0% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }

  50% {
    opacity: 0;
    height: 40px;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }

  100% {
    height: 0;
    opacity: 0; } }

@keyframes md-autocomplete-list-out {
  0% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }

  50% {
    opacity: 0;
    height: 40px;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }

  100% {
    height: 0;
    opacity: 0; } }

@-webkit-keyframes md-autocomplete-list-in {
  0% {
    opacity: 0;
    height: 0;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }

  50% {
    opacity: 0;
    height: 40px; }

  100% {
    opacity: 1;
    height: 40px; } }

@keyframes md-autocomplete-list-in {
  0% {
    opacity: 0;
    height: 0;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }

  50% {
    opacity: 0;
    height: 40px; }

  100% {
    opacity: 1;
    height: 40px; } }

md-content {
  overflow: visible; }

md-autocomplete {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  display: block;
  height: 40px;
  position: relative;
  overflow: visible; }
  md-autocomplete md-autocomplete-wrap {
    display: block;
    position: relative;
    overflow: visible;
    height: 40px; }
    md-autocomplete md-autocomplete-wrap md-progress-linear {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      transition: none; }
      md-autocomplete md-autocomplete-wrap md-progress-linear .md-container {
        transition: none;
        top: auto;
        height: 3px; }
      md-autocomplete md-autocomplete-wrap md-progress-linear.ng-enter {
        transition: opacity 0.15s linear; }
        md-autocomplete md-autocomplete-wrap md-progress-linear.ng-enter.ng-enter-active {
          opacity: 1; }
      md-autocomplete md-autocomplete-wrap md-progress-linear.ng-leave {
        transition: opacity 0.15s linear; }
        md-autocomplete md-autocomplete-wrap md-progress-linear.ng-leave.ng-leave-active {
          opacity: 0; }
  md-autocomplete input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    padding: 0 15px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    outline: none;
    z-index: 2;
    background: transparent; }
    md-autocomplete input::-ms-clear {
      display: none; }
  md-autocomplete button {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 20px;
    z-index: 2;
    text-align: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: 0;
    font-size: 12px;
    background: transparent; }
    md-autocomplete button:after {
      content: '';
      position: absolute;
      top: -6px;
      right: -6px;
      bottom: -6px;
      left: -6px;
      border-radius: 50%;
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
      transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      z-index: -1; }
    md-autocomplete button:focus:after {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1; }
    md-autocomplete button md-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0) scale(0.9);
              transform: translate3d(-50%, -50%, 0) scale(0.9); }
      md-autocomplete button md-icon path {
        stroke-width: 0; }
    md-autocomplete button.ng-enter {
      -webkit-transform: scale(0);
              transform: scale(0);
      transition: -webkit-transform 0.15s ease-out;
      transition: transform 0.15s ease-out; }
      md-autocomplete button.ng-enter.ng-enter-active {
        -webkit-transform: scale(1);
                transform: scale(1); }
    md-autocomplete button.ng-leave {
      transition: -webkit-transform 0.15s ease-out;
      transition: transform 0.15s ease-out; }
      md-autocomplete button.ng-leave.ng-leave-active {
        -webkit-transform: scale(0);
                transform: scale(0); }
  md-autocomplete ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    margin: 0;
    list-style: none;
    padding: 0;
    overflow: auto;
    max-height: 225.5px;
    z-index: 49; }
    md-autocomplete ul li {
      border-top: 1px solid #ddd;
      padding: 0 15px;
      line-height: 40px;
      font-size: 14px;
      overflow: hidden;
      height: 40px;
      transition: background 0.15s linear;
      cursor: pointer;
      margin: 0; }
      md-autocomplete ul li.ng-enter, md-autocomplete ul li.ng-hide-remove {
        transition: none;
        -webkit-animation: md-autocomplete-list-in 0.2s;
                animation: md-autocomplete-list-in 0.2s; }
      md-autocomplete ul li.ng-leave, md-autocomplete ul li.ng-hide-add {
        transition: none;
        -webkit-animation: md-autocomplete-list-out 0.2s;
                animation: md-autocomplete-list-out 0.2s; }
