/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-radio-button.md-THEME_NAME-theme .md-off {
  border-color: '{{foreground-2}}'; }
md-radio-button.md-THEME_NAME-theme .md-on {
  background-color: '{{accent-color-0.87}}'; }
md-radio-button.md-THEME_NAME-theme.md-checked .md-off {
  border-color: '{{accent-color-0.87}}'; }
md-radio-button.md-THEME_NAME-theme.md-checked .md-ink-ripple {
  color: '{{accent-color-0.87}}'; }
md-radio-button.md-THEME_NAME-theme .md-container .md-ripple {
  color: '{{accent-600}}'; }
md-radio-button.md-THEME_NAME-theme:not([disabled]).md-primary .md-on {
  background-color: '{{primary-color-0.87}}'; }
md-radio-button.md-THEME_NAME-theme:not([disabled]).md-primary.md-checked .md-off {
  border-color: '{{primary-color-0.87}}'; }
md-radio-button.md-THEME_NAME-theme:not([disabled]).md-primary.md-checked .md-ink-ripple {
  color: '{{primary-color-0.87}}'; }
md-radio-button.md-THEME_NAME-theme:not([disabled]).md-primary .md-container .md-ripple {
  color: '{{primary-600}}'; }
md-radio-button.md-THEME_NAME-theme:not([disabled]).md-warn .md-on {
  background-color: '{{warn-color-0.87}}'; }
md-radio-button.md-THEME_NAME-theme:not([disabled]).md-warn.md-checked .md-off {
  border-color: '{{warn-color-0.87}}'; }
md-radio-button.md-THEME_NAME-theme:not([disabled]).md-warn.md-checked .md-ink-ripple {
  color: '{{warn-color-0.87}}'; }
md-radio-button.md-THEME_NAME-theme:not([disabled]).md-warn .md-container .md-ripple {
  color: '{{warn-600}}'; }
md-radio-button.md-THEME_NAME-theme[disabled] .md-container .md-off {
  border-color: '{{foreground-3}}'; }
md-radio-button.md-THEME_NAME-theme[disabled] .md-container .md-on {
  border-color: '{{foreground-3}}'; }

md-radio-group.md-THEME_NAME-theme:focus:not(:empty) {
  border-color: '{{foreground-1}}'; }
