/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-card.md-THEME_NAME-theme {
  border-radius: 2px; }
  md-card.md-THEME_NAME-theme .md-card-image {
    border-radius: 2px 2px 0 0; }
