/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-dialog.md-THEME_NAME-theme {
  border-radius: 4px;
  background-color: '{{background-hue-3}}'; }
  md-dialog.md-THEME_NAME-theme.md-content-overflow .md-actions {
    border-top-color: '{{foreground-4}}'; }
