/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-tabs {
  display: block;
  width: 100%;
  font-weight: 500;
  overflow: auto; }

.md-header {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  position: relative; }

.md-paginator {
  z-index: 1;
  margin-right: -2px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  min-height: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute; }
  .md-paginator.md-prev {
    left: 0; }
  .md-paginator.md-next {
    right: 0; }
    .md-paginator.md-next md-icon {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }

/* If `center` justified, change to left-justify if paginating */
md-tabs[center] .md-header:not(.md-paginating) .md-header-items {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.md-paginating .md-header-items-container {
  left: 32px;
  right: 32px; }

.md-header-items-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin: auto; }
  .md-header-items-container .md-header-items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    transition: -webkit-transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    height: 100%;
    width: 99999px; }

.md-tabs-content {
  overflow: hidden;
  width: 100%;
  position: relative; }
  .md-tabs-content .md-tab-content {
    height: 100%; }
    .md-tabs-content .md-tab-content.ng-hide.ng-animate {
      display: block !important; }
    .md-tabs-content .md-tab-content.ng-animate {
      transition: -webkit-transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
      transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
      -webkit-transform: translateX(0);
              transform: translateX(0); }
      .md-tabs-content .md-tab-content.ng-animate.ng-hide-add {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%); }
        .md-tabs-content .md-tab-content.ng-animate.ng-hide-add.md-transition-rtl {
          -webkit-transform: translateX(100%);
                  transform: translateX(100%); }
      .md-tabs-content .md-tab-content.ng-animate.ng-hide-remove {
        position: absolute;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .md-tabs-content .md-tab-content.ng-animate.ng-hide-remove.md-transition-rtl {
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%); }
        .md-tabs-content .md-tab-content.ng-animate.ng-hide-remove.ng-hide-remove-active {
          -webkit-transform: translateX(0);
                  transform: translateX(0); }

md-tabs-ink-bar {
  z-index: 1;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  height: 2px;
  margin-top: -2px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0; }
  md-tabs-ink-bar.md-transition-right {
    transition: right 0.25s cubic-bezier(0.35, 0, 0.25, 1), left 0.25s cubic-bezier(0.35, 0, 0.25, 1) 0.075s; }
  md-tabs-ink-bar.md-transition-left {
    transition: right 0.25s cubic-bezier(0.35, 0, 0.25, 1) 0.075s, left 0.25s cubic-bezier(0.35, 0, 0.25, 1); }

md-tab {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100%;
  text-align: center;
  cursor: pointer;
  padding: 20px 24px;
  box-sizing: border-box;
  transition: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  md-tab.md-tab-themed {
    transition: background 0.35s cubic-bezier(0.35, 0, 0.25, 1), color 0.35s cubic-bezier(0.35, 0, 0.25, 1); }
  md-tab[disabled] {
    pointer-events: none;
    cursor: default; }
  md-tab:focus {
    outline: none; }
  md-tab md-tab-label {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    z-index: 100;
    opacity: 1;
    overflow: hidden; }
