/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-input-container.md-THEME_NAME-theme .md-input {
  color: '{{foreground-1}}';
  border-color: '{{foreground-4}}';
  text-shadow: '{{foreground-shadow}}'; }
  md-input-container.md-THEME_NAME-theme .md-input::-webkit-input-placeholder, md-input-container.md-THEME_NAME-theme .md-input::-moz-placeholder, md-input-container.md-THEME_NAME-theme .md-input:-moz-placeholder, md-input-container.md-THEME_NAME-theme .md-input:-ms-input-placeholder {
    color: '{{foreground-3}}'; }
md-input-container.md-THEME_NAME-theme > md-icon {
  fill: '{{foreground-1}}'; }
md-input-container.md-THEME_NAME-theme label, md-input-container.md-THEME_NAME-theme .md-placeholder {
  text-shadow: '{{foreground-shadow}}';
  color: '{{foreground-3}}'; }
md-input-container.md-THEME_NAME-theme:not(.md-input-invalid).md-input-has-value label {
  color: '{{foreground-2}}'; }
md-input-container.md-THEME_NAME-theme:not(.md-input-invalid).md-input-focused .md-input {
  border-color: '{{primary-500}}'; }
md-input-container.md-THEME_NAME-theme:not(.md-input-invalid).md-input-focused label {
  color: '{{primary-500}}'; }
md-input-container.md-THEME_NAME-theme:not(.md-input-invalid).md-input-focused md-icon {
  fill: '{{primary-500}}'; }
md-input-container.md-THEME_NAME-theme:not(.md-input-invalid).md-input-focused.md-accent .md-input {
  border-color: '{{accent-500}}'; }
md-input-container.md-THEME_NAME-theme:not(.md-input-invalid).md-input-focused.md-accent label {
  color: '{{accent-500}}'; }
md-input-container.md-THEME_NAME-theme:not(.md-input-invalid).md-input-focused.md-warn .md-input {
  border-color: '{{warn-500}}'; }
md-input-container.md-THEME_NAME-theme:not(.md-input-invalid).md-input-focused.md-warn label {
  color: '{{warn-500}}'; }
md-input-container.md-THEME_NAME-theme.md-input-invalid .md-input {
  border-color: '{{warn-500}}'; }
md-input-container.md-THEME_NAME-theme.md-input-invalid label {
  color: '{{warn-500}}'; }
md-input-container.md-THEME_NAME-theme.md-input-invalid ng-message, md-input-container.md-THEME_NAME-theme.md-input-invalid data-ng-message, md-input-container.md-THEME_NAME-theme.md-input-invalid x-ng-message, md-input-container.md-THEME_NAME-theme.md-input-invalid [ng-message], md-input-container.md-THEME_NAME-theme.md-input-invalid [data-ng-message], md-input-container.md-THEME_NAME-theme.md-input-invalid [x-ng-message], md-input-container.md-THEME_NAME-theme.md-input-invalid .md-char-counter {
  color: '{{warn-500}}'; }
md-input-container.md-THEME_NAME-theme .md-input[disabled], [disabled] md-input-container.md-THEME_NAME-theme .md-input {
  border-bottom-color: transparent;
  color: '{{foreground-3}}';
  background-image: linear-gradient(to right, '{{foreground-4}}' 0%, '{{foreground-4}}' 33%, transparent 0%); }
