<div class="list card mypage-answer" ng-controller="AnswerCtrl as answerCtrl" ng-repeat="answer in answers">
    <div class="item item-avatar row row-center">
        <img class="user-img" ng-src="{{answer.profile_small_url}}" ui-sref="app.mypage.qlikes({userUrl: '{{answer.user_url}}' })"/>
        <div class="col">
            <a class="nickname" ng-bind="answer.nickname" ui-sref="app.mypage.qlikes({userUrl: '{{answer.user_url}}' })"></a>
            <p class="category" ng-bind="answer.category_name"></p>
        </div>
        <button class="button button-icon icon icon-linkat-turnback" ui-sref="app.post({postId: '{{answer.question_id}}'})"></button>
        <button class="button button-icon icon icon-linkat-viewmore" ng-click="answerCtrl.menu($event)"></button>

    </div>

    <div class="item item-body row" on-tap="goToLink('{{answer.link}}')">
        <div class="answer-img">
            <img ng-src="{{answer.answer_image_url}}"/>
        </div>
        <div class="answer-content">
            <a class="price icon-linkat-won" ng-bind="answer.price"></a>
            <br>
            <a class="contents" ng-bind="answer.content"></a>
        </div>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-class="{liked: answer.liked}" on-tap="answerCtrl.toggleLike()">
            갖고싶어 <span ng-bind="answer.like_count < 1 ? '': answer.like_count"></span></a>
        </a>
    </div>
</div>
<ion-infinite-scroll
    ng-if="moreDataCanBeLoaded"
    on-infinite="loadPosts()"
    icon="ion-loading-c"
    distance="20%">
</ion-infinite-scroll>
    <!--
    <div class="row">
        <div class="col col-33">
            <a ng-href="{{answer.link}}" target="_blank">
                <img class="full-image" ng-src="{{answer.answer_image_url}}"/>
            </a>
            <a ui-sref="app.mypage.qlikes({userUrl: '{{answer.user_url}}' })">
                <img class="full-image" ng-src="{{answer.profile_small_url}}"/>
            </a>
            <a ng-bind="answer.nickname" ui-sref="app.mypage.qlikes({userUrl: '{{answer.user_url}}' })"></a>
            <span ng-bind="answer.category_name"></span>
        </div>
        <div class="col">
            <button class="button button-icon ion-more" ng-click="answerCtrl.menu($event)"></button>
            <p ng-bind="answer.price"></p>
            <p ng-bind="answer.content"></p>
        </div>
    </div>
    <div class="row">
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" ng-class="{like: answer.liked}" on-tap="answerCtrl.toggleLike()">
                갖고싶어 <span ng-bind="answer.like_count < 1 ? '': answer.like_count"></span></a>
            </a>
        </div>
    </div>
    -->