<ion-view>
    <ion-nav-title>
        <h1 class="title">팔로워</h1>
    </ion-nav-title>
    <ion-content class="follow">
        <div ng-if="followers.length === 0">
            아직 팔로워가 없습니다.
        </div>
        <div class="list">
            <div class="item item-avatar" ng-repeat="follower in followers">
                <img class="user-img" ng-src="{{follower.profile_small_url}}" ui-sref="app.mypage.qlikes({userUrl: '{{follower.user_url}}' })" />
                <button class="button button-icon icon-left" on-tap="toggleFollow()"

                        ng-class="{'followed': follower.followed, 'icon-linkat-check': follower.followed, 'icon-linkat-plus': !follower.followed}"
                        ng-bind="follower.followed ? '팔로잉': '팔로우'"></button>
                <a class="nickname" ng-bind="follower.nickname" ui-sref="app.mypage.qlikes({userUrl: '{{follower.user_url}}' })" ></a>
                <p class="introduce" ng-bind="follower.introduce"></p>
                <!--ng-show="!follower.isMine"-->
            </div>
        </div>

    </ion-content>
</ion-view>