/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-tabs.md-THEME_NAME-theme .md-header {
  background-color: transparent; }
md-tabs.md-THEME_NAME-theme .md-paginator md-icon {
  color: '{{primary-color}}'; }
md-tabs.md-THEME_NAME-theme.md-accent .md-header {
  background-color: '{{accent-color}}'; }
md-tabs.md-THEME_NAME-theme.md-accent md-tab:not([disabled]) {
  color: '{{accent-100}}'; }
  md-tabs.md-THEME_NAME-theme.md-accent md-tab:not([disabled]).active {
    color: '{{accent-contrast}}'; }
md-tabs.md-THEME_NAME-theme.md-primary .md-header {
  background-color: '{{primary-color}}'; }
md-tabs.md-THEME_NAME-theme.md-primary md-tab:not([disabled]) {
  color: '{{primary-100}}'; }
  md-tabs.md-THEME_NAME-theme.md-primary md-tab:not([disabled]).active {
    color: '{{primary-contrast}}'; }
md-tabs.md-THEME_NAME-theme.md-primary md-tab {
  color: '{{primary-100}}'; }
  md-tabs.md-THEME_NAME-theme.md-primary md-tab[disabled] {
    color: '{{foreground-3}}'; }
  md-tabs.md-THEME_NAME-theme.md-primary md-tab:focus {
    color: '{{primary-contrast}}';
    background-color: '{{primary-contrast-0.1}}'; }
  md-tabs.md-THEME_NAME-theme.md-primary md-tab.active {
    color: '{{primary-contrast}}'; }
  md-tabs.md-THEME_NAME-theme.md-primary md-tab .md-ripple-container {
    color: '{{primary-contrast}}'; }
md-tabs.md-THEME_NAME-theme.md-warn .md-header {
  background-color: '{{warn-color}}'; }
md-tabs.md-THEME_NAME-theme.md-warn md-tab:not([disabled]) {
  color: '{{warn-100}}'; }
  md-tabs.md-THEME_NAME-theme.md-warn md-tab:not([disabled]).active {
    color: '{{warn-contrast}}'; }
md-tabs.md-THEME_NAME-theme md-tabs-ink-bar {
  color: '{{accent-color}}';
  background: '{{accent-color}}'; }
md-tabs.md-THEME_NAME-theme md-tab {
  color: '{{foreground-2}}'; }
  md-tabs.md-THEME_NAME-theme md-tab[disabled] {
    color: '{{foreground-3}}'; }
  md-tabs.md-THEME_NAME-theme md-tab:focus {
    color: '{{foreground-1}}'; }
  md-tabs.md-THEME_NAME-theme md-tab.active {
    color: '{{primary-color}}'; }
  md-tabs.md-THEME_NAME-theme md-tab .md-ripple-container {
    color: '{{accent-100}}'; }
