<form name="form" novalidate>
    <ion-view>
        <ion-nav-title>
            <h1 class="title">수정하기</h1>
        </ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="button nav-button finish" ng-click="next()">완료</button>
        </ion-nav-buttons>

        <ion-content class="answer-update" scroll="false">


            <div>
                <div class="list card">
                    <div class="item content">
                        <textarea msd-elastic
                                  name="content"
                                  placeholder="내용을 입력하세요."
                                  rows="5"
                                  ng-model="answer.content"
                                  ng-required="true"
                                  ng-minlength="2"
                                  ng-maxlength="300">

                        </textarea>
                    </div>
                    <div class="item">
                        <div class="row row-center">
                            <div class="col label">
                                <span>가격(원)</span>
                            </div>
                            <div class="col price">
                                <input type="text"
                                       name="price"
                                       placeholder="원"
                                       ng-model="answer.price"
                                       ng-required="true"
                                       ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                       ng-minlength="1"
                                       ng-maxlength="16"
                                       ng-pattern="/^[0-9\s]+$/i">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row row-center">
                            <div class="col label">
                                <span>URL</span>
                            </div>
                            <div class="col url">
                                <input type="url"
                                       name="link"
                                       placeholder="URL을 알려주세요"
                                       min="1"
                                       ng-model="answer.link"
                                       ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                       ng-required="true">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div ng-class="{'error-toast' : form.content.$error.minlength, 'noerror' : !form.content.$error.minlength}">2자이상 300자 이하로 입력해주세요.</div>
            <div ng-class="{'error-toast' : form.content.$error.maxlength, 'noerror' : !form.content.$error.maxlength}">2자이상 300자 이하로 입력해주세요.</div>
            <div ng-class="{'error-toast' : form.price.$error.number, 'noerror' : !form.price.$error.number}">숫자만 입력가능합니다.</div>
            <div ng-class="{'error-toast' : form.link.$error.url, 'noerror' : !form.link.$error.url}">URL이 아닙니다.</div>

            <!--<div class='error' ng-show="form.content.$error.required">내용을 입력하세요.</div>-->
            <!--<div class='error' ng-show="form.price.$error.required">가격을 입력해주세요.</div>-->
            <!--<div class='error' ng-show="form.link.$error.required">URL을 입력해주세요.</div>-->

            <!--<div class="msg-block" ng-show="form.$error">-->
            <!--<div class="msg-block" ng-show="form.$error">-->
            <!--<span class="msg-error block" ng-show="form.price.$error.required">-->
            <!--가격을 입력해주세요.-->
            <!--</span>-->
            <!--<span class="msg-error block" ng-show="form.price.$error.number">-->
            <!--숫자만 입력가능합니다.-->
            <!--</span>-->
            <!--<span class="msg-error block" ng-show="form.link.$error.required">-->
            <!--URL을 입력해주세요.-->
            <!--</span>-->
            <!--<span class="msg-error block" ng-show="form.link.$error.url">-->
            <!--URL이 아닙니다.-->
            <!--</span>-->
            <!--<span class="msg-error block" ng-show="form.content.$error.required">-->
            <!--내용을 입력하세요.-->
            <!--</span>-->
            <!--<span class="msg-error block" ng-show="form.content.$error.minlength">-->
            <!--2자이상 300자 이하로 입력해주세요.-->
            <!--</span>-->
            <!--<span class="msg-error block" ng-show="form.content.$error.maxlength">-->
            <!--2자이상 300자 이하로 입력해주세요.-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->
        </ion-content>

    </ion-view>
</form>