/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-icon.md-THEME_NAME-theme.md-primary {
  color: '{{primary-color}}'; }
md-icon.md-THEME_NAME-theme.md-accent {
  color: '{{accent-color}}'; }
md-icon.md-THEME_NAME-theme.md-warn {
  color: '{{warn-color}}'; }
md-icon.md-THEME_NAME-theme.md-danger {
  color: '{{danger-color}}'; }
