<md-dialog class="menu-dialog">
    <md-content>
        <div class="list">
            <div class="item" ng-if="isMine" on-touch="delete($event)">
                삭제
            </div>
            <div class="item" on-touch="cancel($event)">
                취소
            </div>
        </div >
    </md-content>
</md-dialog>