<ion-view>
    <ion-nav-title>
        <span class="title" ng-bind="user.nickname"></span>
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <!--<button class="button button-icon icon-linkat-setting" on-tap="profileSetting()" ng-show="user.isMine"></button>-->
        <!--<button class="button button-icon" on-tap="toggleFollow()" ng-show="!user.isMine" ng-class="{'icon-linkat-check': user.followed, 'icon-linkat-plus': !user.followed}"></button>-->
        <div class="follow-nav-button">
            <button class="button button-icon icon-left" on-tap="toggleFollow()"
                   ng-show="!user.isMine"
                   ng-class="{'followed': user.followed, 'icon-linkat-check': user.followed, 'icon-linkat-plus': !user.followed}"
                   ng-bind="user.followed ? '팔로잉': '팔로우'"></button>
        </div>
    </ion-nav-buttons>
    <ion-content class="mypage">
        <ion-refresher
            refreshing-icon ="ion-loading-c"
            on-refresh="refresh()">
        </ion-refresher>
        <div class="row row-center profile" ng-style="mypageBg">
            <div class="item-avatar col col-50">
                <img class="user-img" ng-src="{{user.profile_medium_url}}"/>
                <a class="introduce" ng-bind="user.introduce"></a>
            </div>

            <div class="follow-count col" on-tap="followers()">
                <span ng-bind="user.follower_count"></span>
                <p>팔로워</p>
            </div>
            <div class="follow-count col" on-tap="followings()">
                <span ng-bind="user.following_count"></span>
                <p>팔로잉</p>
            </div>
            <div class="col"></div>
        </div>
        <md-tabs md-no-ink md-stretch-tabs="never" md-selected="data.selectedIndex">
            <md-tab id="tab1" aria-controls="tab1-content" on-touch="tabQlikes()">
                <div class="tab-count" ng-bind="user.qlikes_count > 0 ? user.qlikes_count : '0'"></div>
                <div class="tab-title">나도궁금</div>
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content" on-touch="tabAlikes()">
                <div class="tab-count" ng-bind="user.alikes_count > 0 ? user.alikes_count : '0'"></div>
                <div class="tab-title">갖고싶어</div>
            </md-tab>
            <md-tab id="tab3" aria-controls="tab3-content" on-touch="tabQuestions()">
                <div class="tab-count" ng-bind="user.question_count > 0 ? user.question_count : '0'"></div>
                <div class="tab-title">찾아줘요</div>
            </md-tab>
            <md-tab id="tab4" aria-controls="tab4-content" on-touch="tabAnswers()">
                <div class="tab-count" ng-bind="user.answer_count > 0 ? user.answer_count: '0'"></div>
                <div class="tab-title">찾았어요</div>
            </md-tab>
        </md-tabs>

        <div ui-view="tab-content"></div>
    </ion-content>

</ion-view>