<div class="list card mypage-post" ng-repeat="post in posts" ng-controller="PostCtrl"  post-id={{post.id}}>
    <div class="item item-avatar row row-center">
        <img class="user-img" ng-src="{{post.profile_small_url}}" ng-href="app.mypage.qlikes({userUrl: '{{post.user_url}}' })"/>
        <div class="col">
            <a class="nickname" ng-bind="post.nickname" ui-sref="app.mypage.qlikes({userUrl: '{{post.user_url}}' })"></a>
            <p class="category" ng-bind="post.category_name"></p>
        </div>
        <div class="col">
            <button class="button button-icon icon icon-linkat-viewmore" on-tap="menu($event)"></button>
        </div>

    </div>
    <div class="item item-image">
        <img class="post-img" ng-src="{{post.question_image_url}}" ui-sref="app.post({postId: '{{post.id}}'})" target="_blank"/>
        <p class="contents" ng-bind="post.content" ui-sref="app.post({postId: '{{post.id}}'})"></p>
    </div>
    <div class="item tabs tabs-secondary">
        <a class="tab-item" on-tap="togglelike()" ng-class="{liked: post.liked}">
            나도궁금 <span ng-bind="post.like_count < 1 ? '': post.like_count"></span>
        </a>
        <a class="tab-item" ui-sref="app.post({postId: '{{post.id}}'})">
            찾았어요 <span ng-bind="post.answer_count < 1 ? '': post.answer_count"></span>
        </a>
    </div>
</div>
<ion-infinite-scroll
    ng-if="moreDataCanBeLoaded"
    on-infinite="loadPosts()"
    icon="ion-loading-c"
    distance="20%">
</ion-infinite-scroll>