/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-toolbar.md-THEME_NAME-theme {
  background-color: '{{primary-color}}';
  color: '{{primary-contrast}}'; }
  md-toolbar.md-THEME_NAME-theme .md-button {
    color: '{{primary-contrast}}'; }
  md-toolbar.md-THEME_NAME-theme.md-accent {
    background-color: '{{accent-color}}';
    color: '{{accent-contrast}}'; }
  md-toolbar.md-THEME_NAME-theme.md-warn {
    background-color: '{{warn-color}}';
    color: '{{warn-contrast}}'; }
