/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-divider {
  display: block;
  border-top: 1px solid;
  margin: 0; }
  md-divider[md-inset] {
    margin-left: 80px; }
