<ion-view>
    <ion-nav-title>
        <!--<button class="hotnew-title button button-icon icon icon-linkat icon-linkat-hot"-->
            <!--ng-class="{'HOTNEW': title=='HOT'||'NEW', 'OTHER': title=='CLOTHES'||'SHOES'||'ETCS'}"-->
            <!--ng-bind="title">-->
        <!--</button>-->
        <button class="button button-icon icon icon-linkat"
                ng-show="title=='HOT'||title=='NEW'"
                ng-class="{'icon-linkat-hot' : title=='HOT', 'icon-linkat-new' : title=='NEW'}">
        </button>
        <span class="title"
              ng-show="title=='옷'||title=='신발'||title=='잡화'"
              ng-bind="title">
        </span>
    </ion-nav-title>
    <!--<ion-nav-title>-->
    <!--<button class="hotnew-title button button-icon icon icon-linkat" on-tap="toggleFollow()"-->
            <!--ng-class="{'followed': user.followed, 'icon-linkat-check': user.followed, 'icon-linkat-plus': !user.followed}"-->
            <!--ng-bind="user.followed ? '팔로잉': '팔로우'"></button>-->
    <!--</ion-nav-title>-->
    <ion-nav-buttons side="left">
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
        <button menu-toggle="left" class="button button-icon icon icon-linkat icon-linkat-menu"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon icon-linkat icon-linkat-alarm" on-touch="notifications()"></button>
        <button class="button button-icon icon-linkat icon-linkat-upload" ui-sref="app.post-new"></button>
    </ion-nav-buttons>

    <ion-content class="post">
        <ion-refresher
            refreshing-icon ="ion-loading-c"
            on-refresh="refresh()">
        </ion-refresher>

        <div class="list card" ng-repeat="post in posts track by post.id" ng-controller="PostCtrl" post-id={{post.id}}>
            <div class="item item-avatar row row-center">
                <img class="user-img" ng-src="{{post.profile_small_url}}" ui-sref="app.mypage.qlikes({userUrl: '{{post.user_url}}' })"/>
                <div class="col">
                    <a class="nickname" ng-bind="post.nickname" ui-sref="app.mypage.qlikes({userUrl: '{{post.user_url}}' })"></a>
                    <p class="category" ng-bind="post.category_name"></p>
                </div>
                <div class="col">
                    <button class="button button-icon icon icon-linkat-viewmore" on-tap="menu($event)"></button>
                    </div>

            </div>
            <div class="item item-image">
                <img class="post-img" ng-src="{{post.question_image_url}}" ui-sref="app.post({postId: '{{post.id}}'})"/>
                <p class ="contents" ng-bind="post.content" ui-sref="app.post({postId: '{{post.id}}'})"></p>

            </div>
            <div class="item tabs tabs-secondary">
                <a class="tab-item" on-tap="togglelike()" ng-class="{liked: post.liked}">
                    나도궁금 <span ng-bind="post.like_count < 1 ? '': post.like_count"></span>
                </a>
                <a class="tab-item" ui-sref="app.post({postId: '{{post.id}}'})">
                    찾았어요 <span ng-bind="post.answer_count < 1 ? '': post.answer_count"></span>
                </a>
            </div>
        </div>
        <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded"
            on-infinite="loadPosts()"
            icon="ion-loading-c"
            distance="20%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>