//.padding-side-10 {
//  padding: 0px 10px;
//}

//
//.nav-bar-title {
//  .title {
//    color: $text-color-white;
//    font: {
//      size: $text-size-20 !important;
//      weight: bolder !important;
//      weight: bolder;
//    }
//    text-overflow: clip !important;
//    overflow: visible !important;
//  }
//}

// left-menu is exceptional
ion-content {
  top: 48px !important;
}

.md-default-theme {
  .md-gap {
    border-top-color: $color-accent !important;
    border-bottom-color: $color-accent !important;
  }
  .md-left .md-half-circle {
    border-top-color: $color-accent !important;
    border-left-color: $color-accent !important;
  }
  .md-right .md-half-circle {
    border-top-color: $color-accent !important;
    border-right-color: $color-accent !important;
  }

}

.loading {
  background: none !important;
}

.backdrop {
  background-color: rgba(255, 255, 255 , 0.3);
}

::-webkit-input-placeholder {
  @include placeholder;
}

::-moz-placeholder {
  @include placeholder;
}

textarea {
  resize: none;
}

