
// basic card format

.card {
  border-radius: 6px;
  margin: 10px;


  .item-avatar {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    padding-left: 53px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 50px !important;
    height: 53px !important;
  }
  .item-image {
    img {
      border-bottom-style: solid !important;
      border-bottom-width: 1px !important;
      border-bottom-color: $color-line !important;
    }
  }

  .tabs {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    height: 36px;
    .tab-item {
      max-width: none;  // interactive mode
      font-size: $text-size-12;
      line-height: 35px;
      font-family: inherit;
      span {
        font-weight: bold;
      }
    }
    .liked {
      color: $color-accent;
      opacity: inherit;
    }
  }
  //box-shadow: 0px 0px 3px 1px $color-line;
}
// basic item format
//.item {
//  overflow: visible;
//  border-color: $color-line;
//}

