
.comment {
  .list {

    .item-avatar {
      min-height: 53px;
      &:active {
        background: #ebebeb;
      }
      &:first-child {
        border-top-style: none;
      }
      //padding-top: 10px;
      padding-left: 53px;
      padding-top: 8px;
      padding-bottom: 0px;
      padding-right: 10px;
      margin-top: 0px;
      img {
        @include card-avatar;
      }
      a.nickname {
        font-size: $text-size-15;
        color: $text-color-black;
        font-weight: bold;

      }
      p.contents {
        @include many-line-contents-form;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 10px;
        width: 230px;
        //      text-align: left;
        //      //padding-left: 10px;
        //      padding-right: 10px;
        //      //padding-top: 7px;
        //      padding-bottom: 12px;
        //      font-size: $text-size-11;
        //      line-height: $text-line-height-17;
        //      color: $text-color-black;
        //
        //      // enter space
        //      width: 230px;
        //      white-space: normal;
      }
      span.created-date {
        float: right;
        font-size: 12px;
      }
    }
  }
}

.comment-footer {
  .item-input-wrapper {
    textarea {
      padding-left: 10px !important;
      font-size: 13px;
      color: $text-color-black;
      //@include placeholder;
      width: 230px;
      white-space: pre-line;
    }
  }
  ::-webkit-input-placeholder {
    @include placeholder;
  }
  .button {
    padding: 0px;
    right: 10px;
    font-size: $text-size-12;
    font-weight: bold;
    width: 46px;
    min-height: 27px;
    color: $color-accent;
    border: {
      style: solid;
      width: 2px;
      color: $color-accent;
      radius: 5px;
    }
    margin: auto;

    line-height: 100%;

  }
}


