.md-dialog-container {
  background-color: rgba(0, 0, 0, 0.6);
}

.menu-dialog {
  min-width: 0;
  width: 100px;

  md-content {

    padding: 0px;
    overflow: hidden;

    .list {
      padding: 0px;
      .item {
        text-align: center;
        line-height: 46px;
        padding: 0px;
        height: 46px;
        overflow: hidden;
        border-color: $color-line;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 0px;
        border-right-width: 0px;
        color: $text-color-black;
        font: {
          size: $text-size-12;
          weight: bold;
        }
      }
    }
  }
}

md-dialog[aria-label=confirm] {
  min-width: 0px;
  width: 267px;
  height: 133px;


  md-content {
    color: $text-color-black;
    font: {
      size: $text-size-12;
    }
  }

  .md-actions {
    font: {
      size: $text-size-12;
      weight: bold;
    }
    .md-primary {
      &:focus {
        background: none;
      }
    }
  }
}

.confirm-dialog {
  padding: 0px;
  overflow: hidden;
  .list {
    padding: 0px;
    .item {
      text-align: center;
      line-height: 33px;
      padding: 0px;
      height: 36px;
      overflow: hidden;
      border-color: $color-line;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 0px;
      border-right-width: 0px;
    }
  }
}
