.error-toast {
  width:200px;
  height:auto;
  position: relative;
//  position: absolute;
  left:50%;
  margin-left:-100px;
  top:10px;
  background-color: #383838;
  color: #F0F0F0;
  font-size: 15px;
  padding:10px;
  text-align:center;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);

  opacity: 0;
  -webkit-animation: fade 5s;
  animation: fade 5s;
  animation-iteration-count: 1;
}

.noerror {
  display : none;
}

@-webkit-keyframes fade {
  50% {
    opacity: 1;
  }
}

@keyframes fade {
  50% {
    opacity: 1;
  }
}