
.follow {
  .item-avatar {
    min-height: 53px;
    padding-left: 53px;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-right: 10px;
    img.user-img {
      @include card-avatar;
    }
    a.nickname {
      font-size: $text-size-15;
      color: $text-color-black;
      font-weight: bold;
    }
    p.introduce {
//      @include many-line-contents-form;
//      padding-top: 0px;
//      padding-left: 0px;
//      padding-bottom: 10px;

      width: 230px;
      text-align: left;
      padding-right: 10px;
      padding-bottom: 10px;
      font-size: $text-size-15;
      color: $text-color-grey;
      white-space: pre-wrap;
    }
    .button {
      float: right;
      font-size: $text-size-13;
      width: 82px;
      height: 26px;
      min-height: 26px;
      border: {
        style: solid;
        width: 1px;
        color: #727272;
        radius: 5px;
      }
      margin: auto;
      padding: 0px;
      line-height: 26px;
      text-shadow: none;

      &::before {
        margin: 0px !important;
        position: relative;
        bottom: 2px;
        padding: 0px !important;
        line-height: 26px !important;
        width: 18px;

      }
    }
    .followed {
      background-color: $color-accent !important;
      border-color: $color-accent !important;
      color: $text-color-white !important;
    }
  }
}


.follow-nav-button {

  .button {
    top: 5px;
    right: 10px;
    font-size: $text-size-13 !important;
    //font-weight: bold !important;
    color: $text-color-white !important;
    width: 80px;
    height: 24px;
    min-height: 24px;
    border: {
      style: solid;
      width: 1px;
      color: #ffffff;
      radius: 5px;
    }
    margin: auto;
    padding: 0px;
    line-height: 20px;
    text-shadow: none;

    &::before {
      margin: 0px !important;
      position: relative;
      bottom: 2px;
      padding: 0px !important;
      line-height: 26px !important;
      width: 18px;

    }
  }
  .followed {
//    background-color: $color-accent !important;
//    border-color: $color-accent !important;
//    color: $text-color-white !important;
  }


}