
.bar-footer{

  border-top: 1px solid $color-line;
  height: auto;
  padding: 0;

  .item-input-wrapper {
    padding: 0px;
    background: none;
    textarea {
      padding: 9px 0px ;
      height: 37px;
      max-height: 60px;
    }
  }
}