
// header bar definition
ion-header-bar {

  background-color: $color-main !important;
  height: 48px !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #5e3130 !important;

  //title definition
  .nav-bar-title {
    .title {
      color: $text-color-white;
      font: {
        size: 15px !important;
        weight: bolder;
      }
      text-shadow:
      -1px -1px 0 rgba(0,0,0,0.1),
      1px -1px 0 rgba(0,0,0,0.1),
      -1px 1px 0 rgba(0,0,0,0.1),
      1px 1px 0 rgba(0,0,0,0.1);

      letter-spacing: 2px;

      text-overflow: clip !important;
      overflow: visible !important;
      margin: 0px 0px !important;
      top: 2px;
    }
    .icon-linkat-hot, .icon-linkat-new {
      margin: 0px 0px !important;
      letter-spacing: 2px;
      padding-top: 6px;
    }
  }

  //header button definition
  .button {

    color: $text-color-white !important;
    text-shadow:
    -1px -1px 0 rgba(0,0,0,0.1),
    1px -1px 0 rgba(0,0,0,0.1),
    -1px 1px 0 rgba(0,0,0,0.1),
    1px 1px 0 rgba(0,0,0,0.1);

    &::before {
      //font-size: 30px !important; //icon button size
      font-size: 28px !important;
    }
  }
  .left-buttons {
    .button {
      padding:0px;
      padding-left: 6px;
    }

  }
  .right-buttons {
    .icon-linkat-alarm{
      padding:0px;
      padding-right: 3px;
    }
    .icon-linkat-upload {
      padding:0px;
      padding-right: 6px;
    }
    .finish {
      font-size: 15px !important;
      font-weight: normal !important;

    }
  }
}
