
.intro {
  top: 0px !important;
  background-image: url("../img/background_intro.png");
  background-size: cover;
  height: 100%;
  width: 100%;

  text-align: center;

  color: $text-color-white;

//    .slider-pager {
//      bottom: 153px;
//    }
  .logo {
    height: 40%;
    .icon-linkat-logo {
      padding-top: 30%;
      &::before {
        height: 87px;
        font-size: 87px !important;
      }
    }
  }
  .intro1 {
    height: 40%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20%;
    font-size: $text-size-13;
    line-height: $text-line-height-20;
    text-shadow: 1px 1px 2px #000000;
    a {
      font-weight: bold;
    }
  }
  .login {
    height: 20%;
    img {
      position:relative;
      width: 50%;
      //bottom: 42px;
    }
  }

}

//
//.intro-5 {
//  height: 121px;
//  padding-top: 74px;
//  font-size: 16px;
//  font-weight: bold;
//  color: $color-accent;
//}
//.join {
//  .button {
//    font-size: $text-size-13;
//    font-weight: bold;
//    width: 150px;
//    min-height: 27px;
//    color: $text-color-white;
//    background: #0067ce;
//    border-style: none;
//    margin: auto;
//    padding: 0px;
//    line-height: 23px;
//  }
//}