
//left-menu shadow
.menu-content {
//  box-shadow: 0px 0px 3px 1px #d1d1d1;
}
.left-menu {

  top: 0px !important;
  background: $color-main;
  div.user-profile {
    height: 178px;
    background: #303030;
    border-bottom: 1px solid #2e2e2e;
    .item-avatar {
      top: 0px;
      padding-left: 0px !important;
      padding-top: 143px;
      //padding-bottom: 10px;
      text-align: center;
      img.user-img {
        @include leftmenu-avatar;
        margin-left: 68.5px;
        margin-top: 28px;
        top: 0px;
        left: 0px;
      }
      a.nickname {
        font-size: $text-size-15;
        color: $text-color-white;
      }
    }

  }
  div.list {
    margin-bottom: 0px;
    padding: 0px;
    div.item {

      //button click event
      &:active {
        background: #421f28;
        border-top: 1px solid #3a1c23;
        border-bottom: 1px solid #6d3e4a;
      }
      border-left: none;
      border-right: none;
      border-top: 1px solid $color-main;
      border-bottom: 1px solid $color-main;
      //border-top: 1px solid #6f3b3a;
      //border: none;
      background: $color-main;
      margin: 0px auto;
      font-size: $text-size-13;
      color: #f4e7e7;
      line-height: 100%;
      padding: 13px 0;
      width: 100%;
      text-align: center;

    }
  }
}
