
.mypage {
  background: $color-bg;
  div.profile {
    height: 157px;
    padding: 0px;
    border-bottom : 1px solid $color-line;

    //background   darken.....
//    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)) !important;
//    background-color: black  !important;
//    opacity: 0.5;
    .item-avatar {
      //padding-left: 91px !important;
      padding-top: 140px !important;
//      margin: 0 auto !important;
//      height: 150px;
//      width: 100px;
//      padding-left: 75px;
//      width: 170px; // this can be modified by fixing div row blahblah..

      img.user-img {
        @include mypage-avatar;
        margin-left: 20%;
        margin-top: 22px;
        top: 0px !important;
        left: 0px !important;
      }
      a.introduce {
        font-size: $text-size-10;
        color: $text-color-white;

      }
    }
    div.follow-count {
      text-align: center;
      span {
        font-size: 23px;
        color: $text-color-white;
        font-weight: bold;
        text-shadow:
        -1px -1px 0 rgba(0,0,0,0.1),
        1px -1px 0 rgba(0,0,0,0.1),
        -1px 1px 0 rgba(0,0,0,0.1),
        1px 1px 0 rgba(0,0,0,0.1);

      }
      p {
        margin-bottom: 0px;
        font-size: $text-size-12;
        color: $text-color-white;
        text-shadow:
        -1px -1px 0 rgba(0,0,0,0.1),
        1px -1px 0 rgba(0,0,0,0.1),
        -1px 1px 0 rgba(0,0,0,0.1),
        1px 1px 0 rgba(0,0,0,0.1);
      }

    }
  }

  .md-header-items {
    width: auto !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d1d1d1;
  }
  md-tabs {
    color: $text-color-grey;
    background: #ffffff;
    padding-top: 5px !important;

    height: 53px;

    .active {
      color: $color-accent !important;
    }
    md-tabs-ink-bar {
      color: $color-accent !important;
      height: 2px;
      margin-top: 0px;
      background-color: $color-accent !important;

    }
    md-tab {
      padding: 0px !important;
      padding-bottom: 10px !important;
//      bottom: 10px;
      width: 100%;
      height: 48px;
      max-width: none !important;

      .tab-count {
        font: {
          size: $text-size-15;
          weight: bold;
        }
        position: relative;
        top: 3px !important;
      }
      .tab-title {
        font: {
          size: $text-size-12;
        }
      }
    }
  }
}

.mypage-post {
  @include post-form;
}

.mypage-answer {
  @include answer-form;

}
