
.notification {
  .list {
    .item-avatar {
      padding-left: 53px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 10px;
      height: 56px;
      min-height: 56px;
      border-style: none;
      img.user-img {
        @include card-avatar;
      }
      span {
        text-align: left;

        //padding-left: 10px;
        padding-left: 0px;
        padding-right: 0px;
        //padding-top: 7px;
        padding-bottom: 7px;

        font-size: $text-size-12;
        line-height: $text-line-height-18;
        color: $text-color-black;
        white-space: normal;
      }
      span.user-name {
        font-weight: bold;
      }
      span.time-ago {
        color: $text-color-grey;
        //display: inline-block;
        //float: right;
      }
    }

  }
  p.contents {
    text-align: left;
    //padding-left: 10px;
    padding-right: 10px;
    //padding-top: 7px;
    padding-bottom: 7px;
    font-size: $text-size-12;
    line-height: $text-line-height-18;
    color: $text-color-black;
  }
}
