
// main post definition
.post {
  background: $color-bg;
  @include post-form;
}

.post-new {
  background: $color-bg;
  .item {
    padding: 0px;
    .label {
      font: {
        size: $text-size-13;
        weight: bold;
      }
      span {
        line-height: 2;
      }
    }
  }

  div.item-table {
    display: table;
    width: 100%;

    div.cell {
      vertical-align: top;
      display: table-cell;
      padding: {
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
      }
      &:first-child {
        width: 90px;
      }
      &:last-child {
        padding-left: 0px;
      }

      div.thumb {
        width: 25vw;
        height: 25vw;
        overflow: hidden;
        border: 1px solid $color-line;
        img {
          width: 100%;
        }
        background-image: url('../img/get_picture.png');
        background-size: contain;
      }
      textarea {
        min-height: 90px;
        max-height: 120px;
        padding: 0px;
        width: 100%;
      }

    }//.cell
  }//.item-table

  @include post-radio-group;
}

.post-update {

  background: $color-bg;
  .item {
    padding: 0px;
    .label {
      font: {
        size: $text-size-13;
        weight: bold;
      }
      span {
        line-height: 2;
      }
    }
  }

  div.content {
    vertical-align: top;

    padding: {
      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px;
    }
    textarea {
      @include many-line-contents-form;
      min-height: 90px;
      max-height: 120px;
      padding: 0px;
      width: 100%;
    }
  }//
  @include post-radio-group;
}

