

// post detail definition
.post-detail {
  background: $color-bg;

  div.detail {
    margin: 0px; // delete card format
    border-radius: 0px; // card radius
    box-shadow: none;
    @include post-form;

    .item-avatar {
      border-radius: 0px;
    }
    .item-image {
      border-bottom-left-radius: 0px !important;
      border-bottom: 1px solid $color-line;
      p.contents {
        @include many-line-contents-form;
      }
    }
  }
  // post detail answer
  div.answer {
    @include answer-form;
  }
}
.post-detail-footer{
  .button-bar {
    .button {
      height: 53px;
      line-height: 53px;
      background-color: #ffffff;
      color: $text-color-grey;
      padding: 0 !important;
      border: 0px;
      font: {
        size: $text-size-15;
        //weight: bold;
      }
      span.count {
        font-weight: bold;
        padding-left: 5px;
      }
    }
    .button.active {
      color: $color-accent;
      box-shadow: none;
    }
  }
}
