
.register-info {
  background: $color-main;

  .list {
    div.indicator {
      text-align: center;
      span {
        color: $text-color-white;
        font-size: $text-size-12;
        line-height: 43px;
        padding-left: 10px;
      }
    }

    .item {
      padding: 0px;
      padding-left: 10px;
      input {
        padding: 0px !important;
      }

      .label {
        font: {
          size: $text-size-13 !important;
          weight: bold;
        }
        span {
          line-height: 2;
        }
      }
      div.url {
        div.label {
          width: 150px !important;
        }
      }
      div.nickname {
        padding: 0px;
      }
      div.birth {
        padding: 0px;
      }
      div.gender {
        .label {
          padding: 0px;
        }
        @include post-radio-group;
      }

    }

  }
  div.agreement {
    p {
      text-align: center;
      color: $text-color-white;
    }
    a{
      color: #0c63ee;
      text-decoration: underline;
    }
  }
}
      //    .item {
      //      padding: 0px;
      //      border-style: none;
      //      height: 36px;
      //
      //      input {
      //        padding: 0px !important;
      //        padding-left: 10px !important;
      //        font-size: $text-size-12;
      //        line-height: 36px;
      //      }
      //    }
//      .url-input {
//        span {
//          font-size: $text-size-12;
//          padding-left: 10px;
//        }
//      }
//      div.gender {
//        height: 47px;
//        div.row {
//          padding: 0px;
//          div.label {
//            padding: 0px;
//            padding-left: 10px;
//            text-align: left;
//            font-size: $text-size-12;
//            line-height: 47px;
//          }
//
//        }
//      }

