
.setting {
  background: $color-bg;
  div.user-profile {
    height: 165px !important;
    padding: 0px;

    div.item-avatar {
      width: 133px;
      height: 133px;
      padding: 0px;

      margin: 0 auto;
      img.user-img {
        @include profile-set-avatar;
        position: relative;
        margin-top: 16px;

        top: 0px !important;
        left: 0px !important;
      }
      img.profile-change {
        position: relative;
        width: 34px;
        height: 34px;
        bottom: 36px;
        left:100px;
        margin-bottom: 16px;
      }
    }
  }

  // item basic
  .item {
    margin: -1px;
    padding: 0px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 36px;
    color: $text-color-black;
    border-color: $color-line;
    margin: -1px;
  }

  //button basic
  .button {
    padding: 0px;
    height: 36px;
    min-height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: $text-color-grey;
    float: right !important;

    &::before {
      //        position: relative;
      padding-left: 0px !important;
      //        padding-right: 10px !important;
      line-height: 36px !important;
      width: 35px;
      color: $text-color-black;

    }
  }


  .list{
    text-align: left;
    margin-bottom: 24px;

    .email {
      border-top: none !important;
    }
    .introduce {
      border-bottom: none !important;
    }
  }
  .push {
    margin-bottom: 24px;
    border: none;
    div.col {
      height: 36px;
      padding: 0px;
      .item-toggle {
        border: none;
        .toggle {
          margin: 0 auto;
          position: relative;
          float: right;
          top: 1px;
          bottom: 0px;
          right: 10px;
          padding-bottom: 0px;
          padding-right: 0px;
          .track {
            height: 26px !important;
            width: 52px;
            background-color: #ffffff;
            border: solid 1px $color-line;

            .handle {
              height: 18px;
              width: 18px;
              left: 11px;
              top: 9px;
              background-color: $color-line;

            }
          }
        }
        .toggle input:checked + .track {
          border: solid 1px $color-accent;
          background-color: #ffffff;
          .handle {
            background-color: $color-accent !important;
          }
        }
      }
    }
  }
  .agreement {
    border-top: none;
  }
  .privacy {
    margin-bottom: 24px;
    border-bottom: none;
  }
  .version {
    text-align: center;
    margin-bottom: 24px;
    border: none;
  }
  .logout {
    text-align: center;
    border: none;
  }
}

.set-email {
  @include set-profile;
}

.set-introduce {
  @include set-profile;
}

.set-nickname {
  @include set-profile;
}
.set-userurl {
  @include set-profile;
}