/*
.tab-button-group {
  height: 36px;
  .tab-button {
    font: {
      size: $text-size-12 !important;
      weight: bold;
    }
    line-height: 35px;
  }
  .liked {
    color: $color-accent;
  }
}
*/



/*
md-tabs-ink-bar {
  color: $color-accent !important;
  background-color: $color-accent !important;
}

md-tabs {
  color: $text-color-grey;
  .active {
    color: $color-accent !important;
  }
}

md-tab {
  padding: 0px !important;
  width: 100%;
  height: 53px;
  max-width: none !important;
}
md-tab-label {
  .tab-count {
    font: {
      size: $text-size-15;
      weight: bold;
    }
  }
  .tab-title {
    font: {
      size: $text-size-12;
    }
  }
}
*/
