/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.8.3-master-fad7ec9
 */
md-tooltip {
  position: absolute;
  font-size: 14px;
  z-index: 100;
  overflow: hidden;
  pointer-events: none;
  border-radius: 4px; }
  md-tooltip .md-background {
    position: absolute;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 1; }
    md-tooltip .md-background.md-show-add {
      transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      -webkit-transform: translate(-50%, -50%) scale(0);
              transform: translate(-50%, -50%) scale(0);
      opacity: 0; }
    md-tooltip .md-background.md-show, md-tooltip .md-background.md-show-add-active {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
      opacity: 1; }
    md-tooltip .md-background.md-show-remove {
      transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2); }
      md-tooltip .md-background.md-show-remove.md-show-remove-active {
        -webkit-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0);
        opacity: 0; }
  md-tooltip .md-content {
    position: relative;
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    background: transparent;
    opacity: 0; }
    md-tooltip .md-content.md-show-add {
      transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      opacity: 0; }
    md-tooltip .md-content.md-show, md-tooltip .md-content.md-show-add-active {
      opacity: 1; }
    md-tooltip .md-content.md-show-remove {
      transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2); }
      md-tooltip .md-content.md-show-remove.md-show-remove-active {
        opacity: 0; }
  md-tooltip.md-hide {
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2); }
  md-tooltip.md-show {
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    pointer-events: auto;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
