<ion-view>
    <ion-nav-title>
        <h1 class="title">팔로잉</h1>
    </ion-nav-title>
    <ion-content class="follow">
        <div ng-if="followings.length === 0">
            아직 누구도 팔로잉하고 있지 않습니다.
        </div>
        <div class="list">
            <div class="item item-avatar" ng-repeat="following in followings">
                <img class="user-img" ng-src="{{following.profile_small_url}}" ui-sref="app.mypage.qlikes({userUrl: '{{following.user_url}}' })" />
                <button class="button button-icon icon-left" on-tap="toggleFollow()"
                        ng-show="!following.isMine"
                        ng-class="{'followed': following.followed, 'icon-linkat-check': following.followed, 'icon-linkat-plus': !following.followed}"
                        ng-bind="following.followed ? '팔로잉': '팔로우'"></button>
                <a class="nickname" ng-bind="following.nickname" ui-sref="app.mypage.qlikes({userUrl: '{{following.user_url}}' })" ></a>
                <p class="introduce" ng-bind="following.introduce"></p>
                <span class="created-date" am-time-ago="comment.created_date"></span>
            </div>
        </div>

    </ion-content>
</ion-view>