

/*
@mixin text-12 {
  font-size: $text-size-11 !important;
  line-height: $text-line-height-18 !important;
}

@mixin text-13 {
  font-size: $text-size-13;
  color: $text-color-black;
  line-height: $text-line-height-20;
}

@mixin font-15-black {
  font-size: $text-size-15;
  color: $text-color-black;
}

@mixin font-15-white {
  font-size: $text-size-15;
  color: $text-color-white;
}

@mixin font-11-bold {
  font-size: $text-size-11;
  font-weight: bold;
}

@mixin font-10-bold-grey {
  font-weight: bold;
  font-size: $text-size-10;
  color: $text-color-grey;
}

*/
/*
@mixin text-button {
  font-size: $text-size-12 !important;
  font-weight: bold !important;
  width: 46px;
  min-height: 27px !important;
  color: $text-color-grey !important;
  border: {
    style: solid;
    width: 2px;
    color: $color-accent;
    radius: 5px;
  }
  margin: auto;
  padding: 0px !important;
}
*/

@mixin placeholder {
  font-size: $text-size-13;
  color: $text-color-black;
}

@mixin card-avatar {
  box-shadow: 0px 0px 0px 1px $color-line;
  height: 33px !important;
  width: 33px  !important;
  top: 10px !important;
  left: 10px !important;
}


@mixin leftmenu-avatar {

  box-shadow: 0px 0px 0px 2px #ec5c73;
  height: 101px !important;
  width: 101px !important;
  max-height: 101px;
  max-width: 101px;

}

@mixin mypage-avatar {

  box-shadow: 0px 0px 0px 1px #ffffff;
  height: 90px !important;
  width: 90px !important;
  max-height: 90px;
  max-width: 90px;

}

@mixin profile-set-avatar {
  box-shadow: 0px 0px 0px 1px $color-line;
  height: 133px !important;
  width: 133px  !important;
  max-height: 133px;
  max-width: 133px;
}
/*
@mixin post-form {
  .card {
    border-radius: 10px;
    margin: 10px;
  }
  .item {
    overflow: visible;
    border-color: $color-line;

  }

  .item-avatar {
    padding-left: 60px;
  }
}
*/

@mixin one-line-contents-form {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: $text-size-11;
  line-height: $text-line-height-17;
  color: $text-color-black;
  text-overflow: ellipsis;
}

@mixin many-line-contents-form {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: $text-size-11;
  line-height: $text-line-height-17;
  color: $text-color-black;
  white-space: pre-wrap;
}

@mixin follow-button {

  .button {
    width: 82px;
    height: 26px;
    min-height: 27px;
    border: {
      style: solid;
      width: 1px;
      color: #727272;
      radius: 5px;
    }
    margin: auto;
    padding: 0px;
    line-height: 20px;
    text-shadow: none;

    &::before {
      margin: 0px !important;
      position: relative;
      padding: 0px !important;
      line-height: 26px !important;
      width: 18px;

    }
  }
  .followed {
    background-color: $color-accent !important;
    border-color: $color-accent !important;
    color: $text-color-white !important;
  }
}

@mixin set-profile {
  background: $color-bg;
  .list {
    span.indicator {
      font-size: $text-size-13;
      line-height: 43px;
      padding-left: 10px;
    }
    .item {
      margin: 0px auto;
      padding: 0px;
      border-style: none;
      input {
        padding: 0px !important;
        padding-left: 10px !important;
        font-size: $text-size-12;
        line-height: 36px;
      }
    }
  }
}

@mixin post-form {
  .item-avatar {
    img.user-img {
      @include card-avatar;
    }
    div.col {
      padding: 0px;
      padding-bottom: 3px;
    }
    a.nickname {
      font-size: $text-size-13;
      line-height: 15px;
      color: $text-color-black;
      font-weight: bold;
    }
    p.category {
      font-size: $text-size-11;
      line-height: 15px;
      color: $text-color-grey;
    }
    .button {
      float: right;
      left: 5px;
    }
  }
  .item-image {
    p.contents {
      @include one-line-contents-form;
    }
  }
}
@mixin answer-form {
  .item-avatar {
    border-bottom-style: none;
    img.user-img {
      @include card-avatar;
    }
    div.col {
      padding: 0px;
      padding-bottom: 3px;
    }
    a.nickname {
      font-size: $text-size-13;
      line-height: 15px;
      color: $text-color-black;
      font-weight: bold;
    }
    p.category {
      font-size: $text-size-11;
      line-height: 15px;
      color: $text-color-grey;
    }
    button.icon-linkat-turnback {
      float: right;
      left: 15px;
    }
    button.icon-linkat-viewmore {
      float: right;
      left: 5px;
    }
  }
  .item-body {
    border-top-style: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 3px;
    div.answer-img {

      //max-width: none;
      //viewport width,height : device size
      width: 30vw;
      height: 30vw;
      overflow: hidden;
      border: 1px solid $color-line;
      padding: 0px;
      border-radius: 6px;
      img {
        width: 100%;
      }
    }
    div.answer-content {
      padding-left: 10px;
      width: 200px;

      a.price {
        position: relative;
        padding-left: 0px;
        padding-top: 2.5px;
        padding-bottom: 3.5px;
        padding-right: 7px;
        margin-bottom: 5px;
        //          vertical-align: middle;
        font-size: $text-size-12;
        //font-weight: bold;
        //width: 100px;
        height: 27px;
        min-height: 27px;
        color: $color-accent;
        border: {
          style: solid;
          width: 2px;
          color: $color-accent;
          radius: 12px;
        }
        line-height: 100%;

        &::before {
          vertical-align: middle;
          bottom: 4px;
          margin: 0px !important;
          position: relative;
          padding: 0px !important;
          left: 2px;
          font-size: 30px;
        }
      }

      a.contents {
        @include many-line-contents-form;
        padding-left: 0px;
        position: relative;
        top: 5px;
        //vertical-align: top;
      }
    }
  }
}

@mixin post-radio-group {
  div.text-radio-group {
    padding-right: 5px;
    input[type=radio] {
      float: right;
      display: none;
    }

    input[type=radio] + label {
      float: right;
      display: inline-block;
      text-align: center;

      font-size: $text-size-12;
      font-weight: bold;
      width: 46px;
      min-height: 27px;
      color: $text-color-grey;
      border: {
        style: solid;
        width: 2px;
        color: #ffffff;
        radius: 5px;
      }
      margin: auto;
      padding: 0px;
      line-height: 23px;

    }

    input[type=radio]:checked + label {
      float: right;
      color: $color-accent;
      border: {
        style: solid;
        width: 2px;
        color: $color-accent;
        radius: 30px;
      }
    }
  }
}