$color-main: #612e3b;  //메인컬러
$color-accent: #f37362;

$color-line: #d1d1d1;
$color-card-border: #ebebeb;
$color-bg-item: #e5e5e5;
$color-bg: #ebebeb;

$text-size-20: 20px;
$text-size-15: 15px;
$text-size-13: 13px;
$text-size-12: 12px;
$text-size-11: 11px;
$text-size-10: 10px;
$text-color-white: #ffffff;
$text-color-grey: #727272;
$text-color-black: #2e2e2e;
$text-shadow-color-black: #303942;

$text-line-height-20: 20px;
$text-line-height-18: 18px;
$text-line-height-17: 17px;
