@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-m6yaj0');
	src:url('fonts/icomoon.eot?#iefix-m6yaj0') format('embedded-opentype'),
		url('fonts/icomoon.woff?-m6yaj0') format('woff'),
		url('fonts/icomoon.ttf?-m6yaj0') format('truetype'),
		url('fonts/icomoon.svg?-m6yaj0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-linkat-won:before {
	content: "\e600";
}

.icon-linkat-viewmore:before {
	content: "\e601";
}

.icon-linkat-upload:before {
	content: "\e602";
}

.icon-linkat-turnback:before {
	content: "\e603";
}

.icon-linkat-setting:before {
	content: "\e604";
}

.icon-linkat-plus:before {
	content: "\e605";
}

.icon-linkat-new:before {
	content: "\e606";
}

.icon-linkat-modify:before {
	content: "\e607";
}

.icon-linkat-menu:before {
	content: "\e608";
}

.icon-linkat-logo:before {
	content: "\e609";
}

.icon-linkat-hot:before {
	content: "\e60a";
}

.icon-linkat-check:before {
	content: "\e60b";
}

.icon-linkat-camera .path1:before {
	content: "\e60c";
	color: rgb(255, 255, 255);
}
.icon-linkat-camera .path2:before {
	content: "\e60d";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-linkat-camera .path3:before {
	content: "\e60e";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-linkat-camera .path4:before {
	content: "\e60f";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-linkat-back:before {
	content: "\e610";
}

.icon-linkat-alarm:before {
	content: "\e611";
}

