@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: normal;
  src: url('nanum/NanumBarunGothicWeb.eot');
  src: url('nanum/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),
  url('nanum/NanumBarunGothicWeb.woff') format('woff'),
  url('nanum/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: bold;
  src: url('nanum/NanumBarunGothicWebBold.eot');
  src: url('nanum/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'),
  url('nanum/NanumBarunGothicWebBold.woff') format('woff'),
  url('nanum/NanumBarunGothicWebBold.ttf') format('truetype');
}