<ion-view>
    <ion-nav-title>
        <h1 class="title">알림</h1>
    </ion-nav-title>
    
    <ion-content class="notification">

        <div ng-if="notifications.length === 0">
            아직 알림이 없습니다.
        </div>
        <div class="list">
            <div class="item item-avatar" ng-repeat="notification in notifications" ui-sref="app.post({postId: '{{notification.qid}}' })">
                <img class="user-img" ng-src="{{notification.spsu}}"/>
                <span class="user-name" ng-bind="notification.snik"></span>
                <span>님이 </span>
                <span ng-if="notification.own">회원님의 </span>
                <span ng-if="!notification.own">
                    <span class="user-name" ng-bind="notification.onik"></span>
                    <span>님의 </span>
                </span>
                <span ng-switch="notification.evt">
                    <span ng-switch-when="1">글에 댓글을 남겼습니다.</span>
                    <span ng-switch-when="2">글에 나도궁금을 남겼습니다.</span>
                    <span ng-switch-when="3">글에 답변을 남겼습니다.</span>
                    <span ng-switch-when="4">글에 갖고싶어를 남겼습니다.</span>
                    <span class="time-ago" am-time-ago="notification.cdate"></span>
                </span>


            </div>
        </div>


    </ion-content>
</ion-view>